.gridd-tp-sidebar_ID {
	background-color: var(--wa-ID-bg, #fff);
	color: var(--wa-ID-cl, #000);
	padding: var(--wa-ID-pd, 1em);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.widget-title {
		color: var(--wa-ID-cl, #000);
	}

	a,
	a:hover,
	a:visited,
	a:visited:hover,
	a:focus,
	a:visited:focus {
		color: var(--wa-ID-lc, #0f5e97);
	}

	.widget {
		margin-bottom: var(--wa-ID-mr, 1em);
	}
}
