.gridd-tp-sidebar_ID {
	background-color: var(--gridd-sidebar-ID-bg, #fff);
	color: var(--gridd-sidebar-ID-color, #000);
	padding: var(--gridd-sidebar-ID-padding, 1em);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.widget-title {
		color: var(--gridd-sidebar-ID-color, #000);
	}

	a,
	a:hover,
	a:visited,
	a:visited:hover,
	a:focus,
	a:visited:focus {
		color: var(--gridd-sidebar-ID-links-color, #0f5e97);
	}

	.widget {
		margin-bottom: var(--gridd-sidebar-ID-margin, 1em);
	}
}
