.site-main .entry-header > *:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.site-main .entry-footer > *:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.site-main .gridd-contain > *:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.site-main .entry-content > *:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  max-width: var(--gridd-content-max-width);
  margin-left: auto;
  margin-right: auto; }
.site-main .entry-header > *.alignleft,
.site-main .entry-footer > *.alignleft,
.site-main .gridd-contain > *.alignleft,
.site-main .entry-content > *.alignleft {
  margin-left: calc(50% - var(--gridd-content-max-width) / 2); }
.site-main .entry-header > *.alignright,
.site-main .entry-footer > *.alignright,
.site-main .gridd-contain > *.alignright,
.site-main .entry-content > *.alignright {
  margin-right: calc(50% - var(--gridd-content-max-width) / 2); }
