.site-main {

	.entry-header,
	.entry-footer,
	.gridd-contain,
	.entry-content {
		>* {
			&:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
				// width: 100%;
				max-width: var(--gridd-content-max-width-calculated, 700px);
				margin-left: auto;
				margin-right: auto;
			}

			&.alignleft {
				margin-left: calc(50% - var(--gridd-content-max-width-calculated, 700px) / 2);

				+.alignleft {
					margin-left: 0;
				}
			}

			&.alignright {
				margin-right: calc(50% - var(--gridd-content-max-width-calculated, 700px) / 2);
			}
		}
	}

	.wp-block-group {
		>* {
			margin-left: auto;
			margin-right: auto;
		}

		.wp-block-columns:not(.alignfull):not(.alignwide) {
			max-width: calc(var(--gridd-content-max-width-calculated, 700px) + 2em);
		}

		.wp-block-column {
			flex-basis: 50%;
		}
	}
}
