.site-main {
	padding: var(--pd-t, 0) var(--pd-h, 1rem) var(--pd-b, 0) var(--pd-h, 1rem);

	header,
	footer:not(.comment-meta),
	.gridd-contain {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--mw-c, 700px);
	}

	>* {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--mw-c, 700px);
	}

	>article {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1em;
		max-width: 100%;
		width: 100%;
	}

	.entry-header,
	.entry-footer,
	.gridd-contain,
	.entry-content {
		>*:not(.container) {
			&:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
				// width: 100%;
				max-width: var(--mw-c, 700px);
				margin-left: auto;
				margin-right: auto;
			}

			&.alignleft {
				margin-left: calc(50% - var(--mw-c, 700px) / 2);

				+.alignleft {
					margin-left: 0;
				}
			}

			&.alignright {
				margin-right: calc(50% - var(--mw-c, 700px) / 2);
			}
		}

		.alignwide,
		.alignfull {
			max-width: calc(100% + 2 * var(--pd-h, 1rem));
			margin-left: auto;
			margin-right: auto;

			img {
				width: 100%;
			}
		}

		.alignwide {
			width: calc(var(--mw-c, 700px) + 25% + 2 * var(--pd-h, 1rem));
			max-width: 100%;
		}

		.alignfull {
			width: calc(100% + 2 * var(--pd-h, 1rem));
			// transform: translateX(calc(0px - var(--pd-h, 1rem)));
		}
	}

	.gridd-contain {
		>* {
			max-width: 100% !important;
		}
	}
}

.gridd-tp-content {
	background-color: var(--bg, #fff);

	select {
		background-color: var(--bg, #fff);
	}
}
#content-width-calc-helper {
	width: 100%;
	max-width: var(--cmw);
}
