p {
	&.is-small-text {
		font-size: calc(1em / var(--gridd-typo-scale));
	}

	&.is-regular-text {
		font-size: var(--gridd-em, 1em);
	}

	&.is-large-text {
		font-size: calc(var(--gridd-typo-scale) * 1em);
	}

	&.is-larger-text {
		font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em);
	}

	// Don't show the drop cap when editing the paragraph's content. It causes a
	// number of bugs in combination with `contenteditable` fields. The caret
	// cannot be set around it, caret position calculation fails in Chrome, and
	// typing at the end of the paragraph doesn't work.
	// &.has-drop-cap:not(:focus)::first-letter {
	// 	float: left;
	// 	font-size: 8.4em;
	// 	line-height: 0.68;
	// 	font-weight: 100;
	// 	margin: 0.05em 0.1em 0 0;
	// 	text-transform: uppercase;
	// 	font-style: normal;
	// }

	// &.has-drop-cap:not(:focus)::after {
	// 	content: "";
	// 	display: table;
	// 	clear: both;
	// 	padding-top: $block-padding;
	// }
}

p.has-background {
	padding: 1.5em 2em;
}

p.has-text-color a {
	color: inherit;
}
