.site-main {
	padding: var(--pd-t, 0) var(--pd-h, 1em) var(--pd-b, 0) var(--pd-h, 1em);
}

.site-main header,
.site-main footer:not(.comment-meta),
.site-main .gridd-contain {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--mw-c, 700px);
}

.site-main > * {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--mw-c, 700px);
}

.site-main > article {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 1em;
	max-width: 100%;
	width: 100%;
}

.site-main .gridd-contain > * {
	max-width: 100% !important;
}

.site-main .entry-header > *:not(.container):not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.site-main .entry-footer > *:not(.container):not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.site-main .gridd-contain > *:not(.container):not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.site-main .entry-content > *:not(.container):not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	max-width: var(--mw-c, 700px);
	margin-left: auto;
	margin-right: auto;
}

.site-main .entry-header > *:not(.container).alignleft,
.site-main .entry-footer > *:not(.container).alignleft,
.site-main .gridd-contain > *:not(.container).alignleft,
.site-main .entry-content > *:not(.container).alignleft {
	margin-left: calc(50% - var(--mw-c, 700px) / 2);
}

.site-main .entry-header > *:not(.container).alignleft + .alignleft,
.site-main .entry-footer > *:not(.container).alignleft + .alignleft,
.site-main .gridd-contain > *:not(.container).alignleft + .alignleft,
.site-main .entry-content > *:not(.container).alignleft + .alignleft {
	margin-left: 0;
}

.site-main .entry-header > *:not(.container).alignright,
.site-main .entry-footer > *:not(.container).alignright,
.site-main .gridd-contain > *:not(.container).alignright,
.site-main .entry-content > *:not(.container).alignright {
	margin-right: calc(50% - var(--mw-c, 700px) / 2);
}

.site-main .entry-header .alignwide,
.site-main .entry-header .alignfull,
.site-main .entry-footer .alignwide,
.site-main .entry-footer .alignfull,
.site-main .gridd-contain .alignwide,
.site-main .gridd-contain .alignfull,
.site-main .entry-content .alignwide,
.site-main .entry-content .alignfull {
	max-width: calc(100% + 2 * var(--pd-h, 1em));
	margin-left: auto;
	margin-right: auto;
}

.site-main .entry-header .alignwide img,
.site-main .entry-header .alignfull img,
.site-main .entry-footer .alignwide img,
.site-main .entry-footer .alignfull img,
.site-main .gridd-contain .alignwide img,
.site-main .gridd-contain .alignfull img,
.site-main .entry-content .alignwide img,
.site-main .entry-content .alignfull img {
	width: 100%;
}

.site-main .entry-header .alignwide,
.site-main .entry-footer .alignwide,
.site-main .gridd-contain .alignwide,
.site-main .entry-content .alignwide {
	width: calc(var(--mw-c, 700px) + 25% + 2 * var(--pd-h, 1em));
	max-width: 100%;
}

.site-main .entry-header .alignfull,
.site-main .entry-footer .alignfull,
.site-main .gridd-contain .alignfull,
.site-main .entry-content .alignfull {
	width: calc(100% + 2 * var(--pd-h, 1em));
}

.gridd-tp-content {
	background-color: var(--bg, #fff);
}

.gridd-tp-content select {
	background-color: var(--bg, #fff);
}

#content-width-calc-helper {
	width: 100%;
	max-width: var(--cmw);
}
