// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.gridd-tp-reusable_block_ID {
    padding: var(--gridd-reusable-block-ID-padding);
    background-color: var(--gridd-reusable-block-ID-bg);
    color: var(--gridd-reusable-block-ID-color);
    position: relative;

    .inner {
        width: 100%;
    }

    .wp-block-cover {
        margin-bottom: 0;
        margin-top: 0;
    }
}