// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.gridd-tp-reusable_block_ID {
	padding: var(--pd, 1em);
	background-color: var(--bg, #fff);
	color: var(--cl, #000);
	position: relative;

	.inner {
		width: 100%;
	}

	.wp-block-cover {
		margin-bottom: 0;
		margin-top: 0;
	}

	a,
	a:visited,
	a:hover,
	a:focus {
		color: var(--lc, #0f5e97);
	}
}
