.gridd-tp-reusable_block_ID {
  padding: var(--gridd-reusable-block-ID-padding);
  background-color: var(--gridd-reusable-block-ID-bg);
  color: var(--gridd-reusable-block-ID-color); }
  .gridd-tp-reusable_block_ID .inner {
    width: 100%; }
