# Exclude from release archives.

./docs                             export-ignore
./assets/css/blocks/block-library/ export-ignore
./node_modules                     export-ignore
package.json                      export-ignore
package-lock.json                 export-ignore
composer.lock                     export-ignore
composer.json                     export-ignore
Gruntfile.js                      export-ignore
phpunit.*                         export-ignore
.sass-cache/                      export-ignore
.git/                             export-ignore
.browserslistrc                   export-ignore
.editorconfig                     export-ignore
.eslintignore                     export-ignore
.eslintrc.js                      export-ignore
.gitignore                        export-ignore
.gitmodules                       export-ignore
.gitattributes                    export-ignore
.github                           export-ignore
.csslintrc                        export-ignore
.jscsrc                           export-ignore
.jshintignore                     export-ignore
.jshintrc                         export-ignore
.phpcs.*                          export-ignore
.simplecov                        export-ignore
*.map                             export-ignore
*.scss                            export-ignore
*.yml                             export-ignore
*.md                              export-ignore
*.sh                              export-ignore
.stylelintignore                  export-ignore
.stylelintrc.json                 export-ignore
phpcs.xml.dist                    export-ignore

# Handle line endings.
# See https://help.github.com/articles/dealing-with-line-endings/

# * text eol=lf
