// stylelint-disable no-descending-specificity
$red: #dc3232;
$orange: #f56e28;
$yellow: #ffb900;
$green: #46b450;
$medium-blue: #00a0d2;
$purple: #826eb4;

#customize-controls {

	.customize-section-description-container.section-meta {

		.dashicons {
			display: none;
		}
	}

	.control-section.open {

		.control-section-kirki-nested {

			.accordion-section-title {
				background: #dedede !important;
			}
		}
	}
}

.accordion-section-title.dashicons-before::before {
	color: #82878c;
	padding-right: 7px;

	.rtl & {
		padding-right: 0;
		padding-left: 7px;
	}
}

.customize-control-kirki-radio-buttonset .buttonset {
	// display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	border-radius: 4px;
	overflow: hidden;
	grid-gap: 2px;
}

#customize-control-gridd_grid_footer_background .background-wrapper {
	padding: 1em;
	border: 1px solid #ccc;
}

#input_gridd_grid_nav-primary_justify_content {
	// display: -ms-grid;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;

	> label {
		display: block;
		flex-wrap: wrap;
		padding: 5px;
		border: 1px solid #ccc;

		> * {
			width: 100%;
			order: 2;
		}

		.image-label {
			display: block;
			position: relative;
			order: 1;
			background: none;
		}
	}

	img {
		height: 40px;
	}

	input {

		&:checked {

			+ label {
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
				border: 1px solid #3498db;
			}
		}
	}
}

.customize-control-kirki-dimensions {

	.wrapper {

		.control {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 12px;

			> div {
				width: 100%;
			}
		}
	}
}

#input_gridd_grid_nav_1_expand_icon {

	.switch-label {

		svg {
			width: 1em;
			height: 1em;
		}
	}

	.switch-input:checked + .switch-label {

		svg {
			fill: #fff;
		}
	}
}

h3.gridd-customizer-section-title {
	padding: 1em 0;
	font-size: 1.5em !important;
	border-bottom: 1px solid #bbb;
	color: #555;
	text-transform: uppercase;
}

.customize-control-kirki-radio-image {

	.image {

		label {
			width: 50%;

			img {
				padding: 10px;
				box-sizing: border-box;
			}
		}
	}
}

@for $i from 1 through 10 {

	#input_gridd_grid_nav_#{ $i }_expand_icon_position {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		> label {
			line-height: 2.5;
		}
	}

	#input_gridd_grid_nav_#{ $i }_expand_icon {

		> label {

			svg {
				height: 20px;
				width: 20px;
			}
		}

		.switch-input:checked + label {

			svg {
				fill: #fff;
			}
		}
	}

	#customize-control-gridd_grid_nav_#{ $i } {

		&_justify_content {

			input {

				&:checked {

					+ label {

						svg {
							fill: #fff;
						}
					}
				}
			}
		}
	}
}

.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
	margin-left: -400px;
}

#input_gridd_global_grid_preset {

	label {
		width: 25%;
	}
}

.gridd-section-description-wrapper {
	margin-top: -10px;

	.gridd-section-description-trigger {
		display: inline-block;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		text-decoration: none;
		color: #fff;
		background: #000;
		margin-right: 0.5em;
		padding: 3px 6px;
		font-size: 12px;
		line-height: 1;

		&.gridd-plus {
			background: $purple;
		}

		&.gridd-docs {
			background: $green;
		}

		&.gridd-tip {
			background: $medium-blue;
		}
	}

	.gridd-section-description {
		display: none;
		margin-left: -12px;
		margin-right: -12px;
		padding: 12px;
		background: #fff;

		&[aria-expanded="true"] {
			display: block;
		}
	}
}

.gridd-flexbox-svg-option {

	svg {
		max-width: 100%;
		max-height: 35px;

		.switch-input:checked & {
			fill: #fff;
		}
	}
}

#accordion-section-grid_part_details_content {
	border-top: none !important;
}

#sub-accordion-panel-theme_options {

	> .customize-info {
		border-bottom: none;
		margin-bottom: 0;
	}
}

#customize-control-gridd_grid_load_order {

	.visibility {
		display: none;
	}
}

.outer-section-open {

	#customize-preview {
		width: calc(100% - 300px);
		opacity: 1;
	}
}

#sub-accordion-section-gridd_to_section {

	.customize-control {
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	}
}

#input_gridd_grid_nav_1_justify_content {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

	.switch-label {
		padding: 0.5em;
	}
}

#sub-accordion-section-grid_part_details_content,
#sub-accordion-section-grid_part_details_header,
#sub-accordion-section-footer,
#sub-accordion-section-header_social,
#sub-accordion-section-grid_part_details_footer_copyright,
#sub-accordion-section-breadcrumbs,
#sub-accordion-section-grid_part_details_footer_social_media,
#sub-accordion-section-grid_part_details_header_contact_info,
#sub-accordion-section-grid_part_details_header_search,
#sub-accordion-section-title_tagline,
ul[id^="sub-accordion-section-grid_part_details_nav_"],
ul[id^="sub-accordion-section-sidebar-widgets-sidebar-"],
ul[id^="sub-accordion-section-grid_part_details_reusable_block_"],
ul[id^="sub-accordion-section-sidebar-widgets-footer_sidebar_"] {

	.customize-section-title {
		padding-bottom: 30px;
	}
}

#customize-control-main_grid_advanced,
#customize-control-content_custom_options,
#customize-control-header_custom_options,
#customize-control-header_social_advanced,
#customize-control-footer_advanced,
#customize-control-footer_copyright_advanced,
#customize-control-footer_social_media_advanced,
#customize-control-breadcrumbs_custom_options,
#customize-control-header_contact_info_advanced,
#customize-control-header_search_advanced,
#customize-control-footer_copyright_custom_options,
#customize-control-footer_social_media_custom_options,
#customize-control-branding_custom_options,
#customize-control-header_contact_info_custom_options,
#customize-control-header_search_custom_options,
#customize-control-footer_custom_options,
li[id^="customize-control-nav_"][id$="_custom_options"],
li[id^="customize-control-gridd_grid_sidebar_"][id$="_custom_options"],
li[id^="customize-control-reusable_block_"][id$="_custom_options"],
li[id^="customize-control-footer_sidebar_"][id$="_custom_options"] {
	position: absolute;
	top: 30px;
}

#customize-control-branding_custom_options,
li[id^="customize-control-gridd_grid_sidebar_"][id$="_custom_options"],
li[id^="customize-control-footer_sidebar_"][id$="_custom_options"] {
	top: 60px;
}

.control-section-kirki-expanded {
	padding-bottom: 0 !important;

	.customize-section-description-container {
		margin-bottom: 0;
	}

	.customize-section-title h3 {
		font-size: 18px;
	}
}

#sub-accordion-section-gridd_grid,
#sub-accordion-section-gridd_typography,
#sub-accordion-section-grid_part_details_content,
#sub-accordion-section-grid_part_details_header,
#sub-accordion-section-grid_part_details_footer,
#accordion-section-breadcrumbs,
#accordion-section-grid_part_details_footer_social_media {

	.customize-section-title {
		margin-bottom: 12px;
	}
}

#sub-accordion-section-theme_options {
	padding-top: 12px !important;
	padding-bottom: 12px !important;

	.customize-section-title {
		display: none;
	}
}

#customize-controls {
	.customize-info.is-in-view,
	.customize-section-title.is-in-view {
		top: 0 !important;
	}

	.customize-info.is-sticky,
	.customize-section-title.is-sticky {
		position: absolute !important;
	}
}