.wp-block-calendar {
	text-align: center;
}

.wp-block-calendar th,
.wp-block-calendar tbody td {
	padding: 0.5em;
	border: 1px solid;
}

.wp-block-calendar tfoot td {
	border: none;
}

.wp-block-calendar table {
	width: 100%;
	border-collapse: collapse;
}
