.wp-block-group.has-background {
	padding: 20px 30px;
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-group > * {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-group .wp-block-columns:not(.alignfull):not(.alignwide) {
	max-width: calc(var(--mw-c, 700px) + 2em);
}

.wp-block-group__inner-container > * {
	margin-left: auto;
	margin-right: auto;
}
