/* stylelint-disable no-descending-specificity */
.wp-block-navigation-menu > ul {
	display: block;
	list-style: none;
	margin: 0;
	max-width: none;
	padding-left: 0;
	position: relative;
}

@media (min-width: 600px) {

	.wp-block-navigation-menu > ul {
		display: flex;
		flex-wrap: wrap;
	}
}

.wp-block-navigation-menu > ul ul {
	padding-left: 0;
}

.wp-block-navigation-menu > ul li {
	position: relative;
	z-index: 1;
}

.wp-block-navigation-menu > ul li:hover,
.wp-block-navigation-menu > ul li:focus-within {
	cursor: pointer;
	z-index: 99999;
}

.wp-block-navigation-menu > ul li:hover > ul,
.wp-block-navigation-menu > ul li:focus-within > ul,
.wp-block-navigation-menu > ul li ul:hover,
.wp-block-navigation-menu > ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

.wp-block-navigation-menu > ul > li > a {
	padding-left: 0;
}

@media (min-width: 600px) {

	.wp-block-navigation-menu > ul > li > a {
		padding-left: 16px;
	}
}

.wp-block-navigation-menu > ul > li:first-of-type > a {
	padding-left: 0;
}

.wp-block-navigation-menu > ul > li:last-of-type > a {
	padding-right: 0;
}

.wp-block-navigation-menu > ul > li > ul {
	margin: 0;
	position: absolute;
	background: #fff;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
	left: 0;
	top: 100%;
	min-width: max-content;
	opacity: 0;
	transition: all 0.5s ease;
	visibility: hidden;
}

.wp-block-navigation-menu > ul > li > ul ul {
	width: 100%;
}

.wp-block-navigation-menu a {
	display: block;
	padding: 16px;
}

.wp-block-navigation-menu ul ul {
	list-style: none;
	margin-left: 0;
}

.wp-block-navigation-menu ul ul li a {
	padding-top: 8px;
	padding-bottom: 8px;
}

.wp-block-navigation-menu .has-sub-menu > a::after {
	content: "\00a0\25BC";
	display: inline-block;
	font-size: 0.6rem;
	height: inherit;
	width: inherit;
}
