.has-drop-cap:not(:focus)::first-letter {
	float: left;
	font-size: 8.4em;
	line-height: 0.68;
	font-weight: 100;
	margin: 0.05em 0.1em 0 0;
	text-transform: uppercase;
	font-style: normal;
}

p.has-background {
	padding: 1.5em 2em;
}

p.has-text-color a {
	color: inherit;
}

.is-small-text {
	font-size: var(--fs-1d-ts-tr);
}

.is-regular-text {
	font-size: var(--fs-tr);
}

.is-large-text {
	font-size: var(--fs-1x-ts-tr);
}

.is-larger-text {
	font-size: var(--fs-2x-ts-tr);
}
