.gridd-tp-footer_copyright {
  width: 100%; }
  .gridd-tp-footer_copyright .site-info {
    padding: var(--gridd-footer-padding, 1em);
    background-color: var(--gridd-footer-copyright-bg, #fff);
    color: var(--gridd-footer-copyright-color, #000);
    font-size: calc(var(--gridd-footer-copyright-font-size) * 1em);
    width: 100%;
    text-align: var(--gridd-footer-copyright-text-align, left); }
    .gridd-tp-footer_copyright .site-info a,
    .gridd-tp-footer_copyright .site-info a:visited {
      color: var(--gridd-footer-copyright-links-color, #0f5e97); }
      .gridd-tp-footer_copyright .site-info a:hover,
      .gridd-tp-footer_copyright .site-info a:visited:hover {
        color: var(--gridd-footer-copyright-links-color, #0f5e97); }
