.gridd-tp-footer_copyright {
	width: 100%;

	.site-info {
		padding: var(--pd, 1em);
		background-color: var(--bg, #fff);
		color: var(--cl, #000);
		font-size: calc(var(--fs) * 1em);
		width: 100%;
		text-align: var(--ta, center);

		a,
		a:visited {
			color: var(--cl, #0f5e97);

			&:hover {
				color: var(--cl, #0f5e97);
			}
		}
	}
}
