.gridd-tp-footer.gridd-tp {
	background-color: var(--ft-bg, #fff);
	border-top: calc(var(--ft-bt-w, 1) * 1px) solid var(--ft-bt-cl, rgba(0,0,0,.1));
	padding-top: var(--ft-gg, 0);

	.inner {
		// display:-ms-grid;
		display: grid;
		grid-gap: var(--ft-gg, 0);
		width: 100%;
		max-width: var(--ft-mw, 100%);
	}
}
