.site-main {
	padding: var(--gridd-content-padding-top) var(--gridd-content-padding-right) var(--gridd-content-padding-bottom) var(--gridd-content-padding-left);

	header,
	footer,
	.gridd-contain {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--gridd-content-max-width-calculated);
	}

	>* {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--gridd-content-max-width-calculated);
	}

	>article {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1em;
		max-width: 100%;
	}

	.entry-header,
	.entry-footer,
	.gridd-contain,
	.entry-content {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;

		.alignwide,
		.alignfull {
			max-width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
			margin-left: auto;
			margin-right: auto;

			img {
				width: 100%;
			}
		}

		.alignwide {
			width: calc(var(--gridd-content-max-width-calculated) + 25% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
			max-width: 100%;
		}

		.alignfull {
			width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
			// transform: translateX(calc(0px - var(--gridd-content-padding-left)));
		}
	}
}

.gridd-tp-content {
	background-color: var(--gridd-content-bg);
}
