// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
$element: ".gridd-tp-sidebar_ID .widget_nav_menu";

// Basic vars.
$backgroundColor: var(--bg, #fff);
$fontSize: 1em;
$padding: 0.5rem;
$justify: flex-start;
$itemsColor: var(--cl, #000);

// Submenu
$submenuBackground: var(--bg, #fff);

// Accent
$accentColor: var(--bg, #fff);

// @import "../../../grid-parts/styles/navigation/styles-global.scss";
@import "../../../grid-parts/styles/navigation/styles.scss";
@import "../../../grid-parts/styles/navigation/styles-vertical.scss";

#{$element} {

	.gridd-navigation {

		li {

			&.current-menu-ancestor,
			&.current-menu-item,
			&.current-menu-parent,
			&.current-page-ancestor,
			&.current-page-item,
			&.current-page-parent,
			&.current_page_ancestor,
			&.current_page_item,
			&.current_page_parent {

				.gridd-toggle {
					display: none;
				}

				ul {

					&::after {
						content: "";
						width: 100%;
						display: block;
						border-bottom: 1px solid currentColor;
						opacity: 0.2;
					}
				}
			}
		}

		a {

			&:hover,
			&:focus,
			&:active {
				color: var(--bg);
				background: var(--cl);
			}
		}
	}
}
