.gridd-tp-sidebar_ID .widget_nav_menu {
  background-color: var(--gridd-sidebar-ID-bg, #fff);
  overflow: visible;
  font-size: 1em;
}
.gridd-tp-sidebar_ID .widget_nav_menu .inner {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  display: flex;
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation {
  justify-content: flex-start;
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation ul {
  background-color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor > a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor > a:visited {
  color: var(--gridd-sidebar-ID-bg, #fff);
  border-bottom: 2px solid;
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor .gridd-toggle {
  color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor .gridd-toggle svg {
  fill: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited {
  color: var(--gridd-sidebar-ID-color, #000);
  border-bottom: 2px solid transparent;
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:hover, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.toggled-on,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:hover,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:focus,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.focus,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.toggled-on {
  color: var(--gridd-sidebar-ID-bg, #fff);
  border-bottom-color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:hover ~ .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:focus ~ .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.focus ~ .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.toggled-on ~ .gridd-toggle,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:hover ~ .gridd-toggle,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:focus ~ .gridd-toggle,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.focus ~ .gridd-toggle,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.toggled-on ~ .gridd-toggle {
  border-bottom-color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:hover ~ .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:focus ~ .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.focus ~ .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.toggled-on ~ .gridd-toggle svg,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:hover ~ .gridd-toggle svg,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:focus ~ .gridd-toggle svg,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.focus ~ .gridd-toggle svg,
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.toggled-on ~ .gridd-toggle svg {
  fill: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle {
  color: var(--gridd-sidebar-ID-color, #000);
  border-bottom: 2px solid transparent;
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle svg {
  fill: var(--gridd-sidebar-ID-color, #000);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:hover, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on {
  color: var(--gridd-sidebar-ID-bg, #fff);
  border-bottom-color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:hover svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:focus svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.focus svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on svg {
  fill: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on {
  border-bottom-color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on svg {
  fill: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-toggle-navigation {
  display: none;
}

.gridd-tp-sidebar_ID .widget_nav_menu .inner {
  align-items: flex-start;
}
.gridd-tp-sidebar_ID .widget_nav_menu ul.menu {
  background-color: var(--gridd-sidebar-ID-bg, #fff);
}
.gridd-tp-sidebar_ID .widget_nav_menu ul.menu > li > ul {
  font-size: calc(1em / var(--gridd-typo-scale, 1.26));
}
.gridd-tp-sidebar_ID .widget_nav_menu ul.menu > li > ul a {
  padding-left: calc(var(--gridd-nav-1-items-padding) * var(--gridd-typo-scale,1.26));
  padding-right: calc(var(--gridd-nav-1-items-padding) * var(--gridd-typo-scale,1.26));
}

.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent .gridd-toggle {
  display: none;
}
.gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item ul:after, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent ul:after {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid currentColor;
  opacity: 0.2;
}

/*# sourceMappingURL=widget-navigation-menu.css.map */
