.widget_rss {

	> ul {
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;

		> li {
			padding: 1em 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}

			> a.rsswidget {
				font-size: var(--fs-1x-ts-tr);
			}

			> .rss-date,
			> cite {
				font-size: var(--fs-1d-ts-tr);
				display: block;
			}
		}
	}
}
