// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
$element:           ".gridd-tp-sidebar_ID .widget_nav_menu";

// Basic vars.
$backgroundColor: var(--gridd-sidebar-ID-bg);
$fontSize:        1em;
$padding:         .5em;
$justify:         flex-start;
$itemsColor:      var(--gridd-sidebar-ID-color);

// Submenu
$submenuBackground: var(--gridd-sidebar-ID-bg);

// Accent
$accentColor:      var(--gridd-sidebar-ID-bg);
$accentBackground: var(--gridd-sidebar-ID-color);

@import "../../../grid-parts/styles/navigation-global.scss";
@import "../../../grid-parts/styles/navigation.scss";
@import "../../../grid-parts/styles/navigation-vertical.scss";
