nav {
  width: 100%; }

.gridd-navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
  display: flex;
  flex-wrap: wrap; }
  .gridd-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 15em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16);
    z-index: 5;
    display: none; }
    .gridd-navigation ul ul {
      position: relative; }
  .gridd-navigation li {
    display: flex;
    position: relative; }
    .gridd-navigation li.menu-item-has-children > a, .gridd-navigation li.page_item_has_children > a {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  .gridd-navigation a,
  .gridd-navigation a:visited {
    display: block;
    text-decoration: none;
    width: 100%; }
  .gridd-navigation .gridd-toggle {
    display: flex;
    align-items: center;
    background: none;
    opacity: .7;
    border: none;
    box-shadow: none;
    border-radius: 0; }
    .gridd-navigation .gridd-toggle svg {
      width: 1em;
      height: 1em; }
    .gridd-navigation .gridd-toggle:hover, .gridd-navigation .gridd-toggle:focus, .gridd-navigation .gridd-toggle.focus, .gridd-navigation .gridd-toggle.toggled-on {
      opacity: 1;
      box-shadow: none;
      outline: 1px dotted; }
    .gridd-navigation .gridd-toggle.toggled-on {
      opacity: 1; }
      .gridd-navigation .gridd-toggle.toggled-on svg {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .gridd-navigation .gridd-toggle.toggled-on + ul {
        display: block; }
        .gridd-navigation .gridd-toggle.toggled-on + ul li {
          display: flex;
          flex-wrap: wrap; }
          .gridd-navigation .gridd-toggle.toggled-on + ul li ul {
            width: 100%; }
  .gridd-nav-vertical .gridd-navigation a, .toggled-on + .gridd-nav-horizontal .gridd-navigation a {
    min-height: 3em; }
  .gridd-nav-vertical .gridd-navigation .gridd-toggle, .toggled-on + .gridd-nav-horizontal .gridd-navigation .gridd-toggle {
    position: absolute;
    right: 0;
    height: 3em; }
  .gridd-nav-vertical .gridd-navigation .current-page-ancestor ul,
  .gridd-nav-vertical .gridd-navigation .current-menu-ancestor ul, .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-page-ancestor ul,
  .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-menu-ancestor ul {
    display: block; }
  .gridd-nav-vertical .gridd-navigation .current-page-ancestor .gridd-toggle,
  .gridd-nav-vertical .gridd-navigation .current-menu-ancestor .gridd-toggle, .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-page-ancestor .gridd-toggle,
  .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-menu-ancestor .gridd-toggle {
    display: none; }
  .gridd-nav-vertical .gridd-navigation .current-page-ancestor a,
  .gridd-nav-vertical .gridd-navigation .current-menu-ancestor a, .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-page-ancestor a,
  .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-menu-ancestor a {
    width: 100%; }
  .gridd-nav-vertical .gridd-navigation .current-page-ancestor .menu-item-has-children a,
  .gridd-nav-vertical .gridd-navigation .current-page-ancestor .page_item_has_children a,
  .gridd-nav-vertical .gridd-navigation .current-menu-ancestor .menu-item-has-children a,
  .gridd-nav-vertical .gridd-navigation .current-menu-ancestor .page_item_has_children a, .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-page-ancestor .menu-item-has-children a,
  .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-page-ancestor .page_item_has_children a,
  .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-menu-ancestor .menu-item-has-children a,
  .toggled-on + .gridd-nav-horizontal .gridd-navigation .current-menu-ancestor .page_item_has_children a {
    margin-right: 0; }
  .gridd-nav-vertical .gridd-navigation ul, .toggled-on + .gridd-nav-horizontal .gridd-navigation ul {
    box-shadow: none;
    top: 0;
    min-width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .05);
    font-size: calc(1em / var(--gridd-typo-scale)); }
    .gridd-nav-vertical .gridd-navigation ul .gridd-toggle, .toggled-on + .gridd-nav-horizontal .gridd-navigation ul .gridd-toggle {
      font-size: calc(1em * var(--gridd-typo-scale));
      height: calc(2em * var(--gridd-typo-scale));
      max-height: 100%; }
    .gridd-nav-vertical .gridd-navigation ul .menu-item-has-children a,
    .gridd-nav-vertical .gridd-navigation ul .page_item_has_children a, .toggled-on + .gridd-nav-horizontal .gridd-navigation ul .menu-item-has-children a,
    .toggled-on + .gridd-nav-horizontal .gridd-navigation ul .page_item_has_children a {
      padding-left: 2em;
      margin-right: 2.5em; }
    .gridd-nav-vertical .gridd-navigation ul ul a, .toggled-on + .gridd-nav-horizontal .gridd-navigation ul ul a {
      padding-left: 3.5em;
      margin-right: 0; }
  .gridd-nav-vertical .gridd-navigation li, .toggled-on + .gridd-nav-horizontal .gridd-navigation li {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .gridd-nav-vertical .gridd-navigation a, .toggled-on + .gridd-nav-horizontal .gridd-navigation a {
    background: none; }

.gridd-tp-sidebar_ID .widget_nav_menu {
  background-color: var(--gridd-sidebar-ID-bg);
  overflow: visible;
  font-size: 1em; }
  .gridd-tp-sidebar_ID .widget_nav_menu .inner {
    padding: 0.5em;
    width: 100%;
    position: relative;
    display: flex; }
  .gridd-tp-sidebar_ID .widget_nav_menu nav {
    width: 100%; }
  .gridd-tp-sidebar_ID .widget_nav_menu .gridd-nav-horizontal {
    display: flex;
    align-items: center; }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-nav-horizontal > * {
      width: 100%; }
  .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation {
    justify-content: flex-start; }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation ul {
      background-color: var(--gridd-sidebar-ID-bg); }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent > a:visited, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor > a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor > a:visited {
      color: var(--gridd-sidebar-ID-bg);
      background: var(--gridd-sidebar-ID-color); }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor .gridd-toggle {
      color: var(--gridd-sidebar-ID-bg);
      background: var(--gridd-sidebar-ID-color); }
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-item .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-item .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_item .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-ancestor .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-ancestor .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-menu-parent .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current-page-parent .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_parent .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.current_page_ancestor .gridd-toggle svg {
        fill: var(--gridd-sidebar-ID-bg); }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.menu-item-has-children > a, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation li.page_item_has_children > a {
      padding-right: .5em; }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a,
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited {
      padding: 0.618em 1em;
      color: var(--gridd-sidebar-ID-color); }
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:hover, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.toggled-on,
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:hover,
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:focus,
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.focus,
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.toggled-on {
        color: var(--gridd-sidebar-ID-bg);
        background: var(--gridd-sidebar-ID-color); }
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:hover ~ .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:focus ~ .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.focus ~ .gridd-toggle, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.toggled-on ~ .gridd-toggle,
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:hover ~ .gridd-toggle,
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:focus ~ .gridd-toggle,
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.focus ~ .gridd-toggle,
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.toggled-on ~ .gridd-toggle {
          background: var(--gridd-sidebar-ID-color); }
          .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:hover ~ .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:focus ~ .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.focus ~ .gridd-toggle svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a.toggled-on ~ .gridd-toggle svg,
          .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:hover ~ .gridd-toggle svg,
          .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited:focus ~ .gridd-toggle svg,
          .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.focus ~ .gridd-toggle svg,
          .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation a:visited.toggled-on ~ .gridd-toggle svg {
            fill: var(--gridd-sidebar-ID-bg); }
    .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle {
      color: var(--gridd-sidebar-ID-color);
      padding: 0 .5em; }
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle svg {
        fill: var(--gridd-sidebar-ID-color); }
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:hover, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.focus, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on {
        color: var(--gridd-sidebar-ID-bg);
        background: var(--gridd-sidebar-ID-color); }
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:hover svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle:focus svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.focus svg, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on svg {
          fill: var(--gridd-sidebar-ID-bg); }
      .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on {
        background: var(--gridd-sidebar-ID-color); }
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on svg {
          fill: var(--gridd-sidebar-ID-bg); }
        .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on + ul li.menu-item-has-children > a, .gridd-tp-sidebar_ID .widget_nav_menu .gridd-navigation .gridd-toggle.toggled-on + ul li.page_item_has_children > a {
          width: calc(100% - 2em - 0.01px); }
  .gridd-tp-sidebar_ID .widget_nav_menu .gridd-toggle-navigation {
    display: none; }

.gridd-tp-sidebar_ID .widget_nav_menu .inner {
  align-items: flex-start; }
.gridd-tp-sidebar_ID .widget_nav_menu ul.menu {
  background-color: var(--gridd-sidebar-ID-bg); }
.gridd-tp-sidebar_ID .widget_nav_menu li.menu-item-has-children > a, .gridd-tp-sidebar_ID .widget_nav_menu li.page_item_has_children > a {
  width: calc(100% - 2em - 0.01px); }
