.admin-bar {
	--adminbar-height: 32px;

	@media screen and (max-width: 782px) {
		--adminbar-height: 46px;
	}

	.gridd-tp.gridd-sticky {
		top: var(--adminbar-height);

		@media screen and (max-width: 600px) {
			top: 0;
		}
	}

	// #wpadminbar {
	// 	@media screen and (max-width: 600px) {
	// 		top: -46px;
	// 	}
	// }

	#gridd-handheld-search-wrapper,
	#gridd-handheld-widget-area-wrapper,
	#gridd-handheld-menu-wrapper,
	#gridd-handheld-cart-wrapper {
		max-height: calc(100vh - 86px);
	}
}
