/* stylelint-disable at-rule-no-unknown */
:root {
  --pale-pink: #f78da7;
  --vivid-red: #cf2e2e;
  --luminous-vivid-orange: #ff6900;
  --luminous-vivid-amber: #fcb900;
  --light-green-cyan: #7bdcb5;
  --vivid-green-cyan: #00d084;
  --pale-cyan-blue: #8ed1fc;
  --vivid-cyan-blue: #0693e3;
  --very-light-gray: #eee;
  --cyan-bluish-gray: #abb8c3;
  --very-dark-gray: #313131;
  --theme-cyan: #26c6da;
  --theme-white: #fff;
  --blue-gray: #546e7a;
  --theme-black: #000;
}

.gridd-tp {
  --element-color: var(--cl);
  --element-background-color: var(--bg);
}

.has-pale-pink-color.has-pale-pink-color {
  --element-color: var(--pale-pink);
}

.has-vivid-red-color.has-vivid-red-color {
  --element-color: var(--vivid-red);
}

.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color {
  --element-color: var(--luminous-vivid-orange);
}

.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color {
  --element-color: var(--luminous-vivid-amber);
}

.has-light-green-cyan-color.has-light-green-cyan-color {
  --element-color: var(--light-green-cyan);
}

.has-vivid-green-cyan-color.has-vivid-green-cyan-color {
  --element-color: var(--vivid-green-cyan);
}

.has-pale-cyan-blue-color.has-pale-cyan-blue-color {
  --element-color: var(--pale-cyan-blue);
}

.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color {
  --element-color: var(--vivid-cyan-blue);
}

.has-very-light-gray-color.has-very-light-gray-color {
  --element-color: var(--very-light-gray);
}

.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color {
  --element-color: var(--cyan-bluish-gray);
}

.has-very-dark-gray-color.has-very-dark-gray-color {
  --element-color: var(--very-dark-gray);
}

.has-theme-cyan-color.has-theme-cyan-color {
  --element-color: var(--theme-cyan);
}

.has-theme-wh-color.has-theme-wh-color {
  --element-color: var(--theme-wh);
}

.has-blue-gray-color.has-blue-gray-color {
  --element-color: var(--blue-gray);
}

.has-theme-bl-color.has-theme-bl-color {
  --element-color: var(--theme-bl);
}

.has-pale-pink-color.has-pale-pink-color,
.has-vivid-red-color.has-vivid-red-color,
.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color,
.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color,
.has-light-green-cyan-color.has-light-green-cyan-color,
.has-vivid-green-cyan-color.has-vivid-green-cyan-color,
.has-pale-cyan-blue-color.has-pale-cyan-blue-color,
.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color,
.has-very-light-gray-color.has-very-light-gray-color,
.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color,
.has-very-dark-gray-color.has-very-dark-gray-color,
.has-theme-cyan-color.has-theme-cyan-color,
.has-theme-wh-color.has-theme-wh-color,
.has-blue-gray-color.has-blue-gray-color,
.has-theme-bl-color.has-theme-bl-color {
  color: var(--element-color);
}

.has-pale-pink-background-color.has-pale-pink-background-color {
  --element-background-color: var(--pale-pink);
}

.has-vivid-red-background-color.has-vivid-red-background-color {
  --element-background-color: var(--vivid-red);
}

.has-luminous-vivid-orange-background-color.has-luminous-vivid-orange-background-color {
  --element-background-color: var(--luminous-vivid-orange);
}

.has-luminous-vivid-amber-background-color.has-luminous-vivid-amber-background-color {
  --element-background-color: var(--luminous-vivid-amber);
}

.has-light-green-cyan-background-color.has-light-green-cyan-background-color {
  --element-background-color: var(--light-green-cyan);
}

.has-vivid-green-cyan-background-color.has-vivid-green-cyan-background-color {
  --element-background-color: var(--vivid-green-cyan);
}

.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color {
  --element-background-color: var(--pale-cyan-blue);
}

.has-vivid-cyan-blue-background-color.has-vivid-cyan-blue-background-color {
  --element-background-color: var(--vivid-cyan-blue);
}

.has-very-light-gray-background-color.has-very-light-gray-background-color {
  --element-background-color: var(--very-light-gray);
}

.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color {
  --element-background-color: var(--cyan-bluish-gray);
}

.has-very-dark-gray-background-color.has-very-dark-gray-background-color {
  --element-background-color: var(--very-dark-gray);
}

.has-theme-cyan-background-color.has-theme-cyan-background-color {
  --element-background-color: var(--theme-cyan);
}

.has-theme-wh-background-color.has-theme-wh-background-color {
  --element-background-color: var(--theme-wh);
}

.has-blue-gray-background-color.has-blue-gray-background-color {
  --element-background-color: var(--blue-gray);
}

.has-theme-bl-background-color.has-theme-bl-background-color {
  --element-background-color: var(--theme-bl);
}

.has-pale-pink-background-color.has-pale-pink-background-color,
.has-vivid-red-background-color.has-vivid-red-background-color,
.has-luminous-vivid-orange-background-color.has-luminous-vivid-orange-background-color,
.has-luminous-vivid-amber-background-color.has-luminous-vivid-amber-background-color,
.has-light-green-cyan-background-color.has-light-green-cyan-background-color,
.has-vivid-green-cyan-background-color.has-vivid-green-cyan-background-color,
.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color,
.has-vivid-cyan-blue-background-color.has-vivid-cyan-blue-background-color,
.has-very-light-gray-background-color.has-very-light-gray-background-color,
.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color,
.has-very-dark-gray-background-color.has-very-dark-gray-background-color,
.has-theme-cyan-background-color.has-theme-cyan-background-color,
.has-theme-wh-background-color.has-theme-wh-background-color,
.has-blue-gray-background-color.has-blue-gray-background-color,
.has-theme-bl-background-color.has-theme-bl-background-color {
  background-color: var(--element-background-color);
  border-color: var(--element-background-color);
}

/*# sourceMappingURL=blocks-custom-colors.css.map */
