.has-pale-pink-color.has-pale-pink-color {
  color: #f78da7; }
  .has-pale-pink-color.has-pale-pink-color:hover, .has-pale-pink-color.has-pale-pink-color:focus, .has-pale-pink-color.has-pale-pink-color:active, .has-pale-pink-color.has-pale-pink-color:visited, .has-pale-pink-color.has-pale-pink-color:focus:hover, .has-pale-pink-color.has-pale-pink-color:active:hover, .has-pale-pink-color.has-pale-pink-color:visited:hover {
    color: #f78da7; }

.has-pale-pink-background-color.has-pale-pink-background-color {
  background-color: #f78da7; }

.has-vivid-red-color.has-vivid-red-color {
  color: #cf2e2e; }
  .has-vivid-red-color.has-vivid-red-color:hover, .has-vivid-red-color.has-vivid-red-color:focus, .has-vivid-red-color.has-vivid-red-color:active, .has-vivid-red-color.has-vivid-red-color:visited, .has-vivid-red-color.has-vivid-red-color:focus:hover, .has-vivid-red-color.has-vivid-red-color:active:hover, .has-vivid-red-color.has-vivid-red-color:visited:hover {
    color: #cf2e2e; }

.has-vivid-red-background-color.has-vivid-red-background-color {
  background-color: #cf2e2e; }

.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color {
  color: #ff6900; }
  .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:hover, .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:focus, .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:active, .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:visited, .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:focus:hover, .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:active:hover, .has-luminous-vivid-orange-color.has-luminous-vivid-orange-color:visited:hover {
    color: #ff6900; }

.has-luminous-vivid-orange-background-color.has-luminous-vivid-orange-background-color {
  background-color: #ff6900; }

.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color {
  color: #fcb900; }
  .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:hover, .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:focus, .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:active, .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:visited, .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:focus:hover, .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:active:hover, .has-luminous-vivid-amber-color.has-luminous-vivid-amber-color:visited:hover {
    color: #fcb900; }

.has-luminous-vivid-amber-background-color.has-luminous-vivid-amber-background-color {
  background-color: #fcb900; }

.has-light-green-cyan-color.has-light-green-cyan-color {
  color: #7bdcb5; }
  .has-light-green-cyan-color.has-light-green-cyan-color:hover, .has-light-green-cyan-color.has-light-green-cyan-color:focus, .has-light-green-cyan-color.has-light-green-cyan-color:active, .has-light-green-cyan-color.has-light-green-cyan-color:visited, .has-light-green-cyan-color.has-light-green-cyan-color:focus:hover, .has-light-green-cyan-color.has-light-green-cyan-color:active:hover, .has-light-green-cyan-color.has-light-green-cyan-color:visited:hover {
    color: #7bdcb5; }

.has-light-green-cyan-background-color.has-light-green-cyan-background-color {
  background-color: #7bdcb5; }

.has-vivid-green-cyan-color.has-vivid-green-cyan-color {
  color: #00d084; }
  .has-vivid-green-cyan-color.has-vivid-green-cyan-color:hover, .has-vivid-green-cyan-color.has-vivid-green-cyan-color:focus, .has-vivid-green-cyan-color.has-vivid-green-cyan-color:active, .has-vivid-green-cyan-color.has-vivid-green-cyan-color:visited, .has-vivid-green-cyan-color.has-vivid-green-cyan-color:focus:hover, .has-vivid-green-cyan-color.has-vivid-green-cyan-color:active:hover, .has-vivid-green-cyan-color.has-vivid-green-cyan-color:visited:hover {
    color: #00d084; }

.has-vivid-green-cyan-background-color.has-vivid-green-cyan-background-color {
  background-color: #00d084; }

.has-pale-cyan-blue-color.has-pale-cyan-blue-color {
  color: #8ed1fc; }
  .has-pale-cyan-blue-color.has-pale-cyan-blue-color:hover, .has-pale-cyan-blue-color.has-pale-cyan-blue-color:focus, .has-pale-cyan-blue-color.has-pale-cyan-blue-color:active, .has-pale-cyan-blue-color.has-pale-cyan-blue-color:visited, .has-pale-cyan-blue-color.has-pale-cyan-blue-color:focus:hover, .has-pale-cyan-blue-color.has-pale-cyan-blue-color:active:hover, .has-pale-cyan-blue-color.has-pale-cyan-blue-color:visited:hover {
    color: #8ed1fc; }

.has-pale-cyan-blue-background-color.has-pale-cyan-blue-background-color {
  background-color: #8ed1fc; }

.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color {
  color: #0693e3; }
  .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:hover, .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:focus, .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:active, .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:visited, .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:focus:hover, .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:active:hover, .has-vivid-cyan-blue-color.has-vivid-cyan-blue-color:visited:hover {
    color: #0693e3; }

.has-vivid-cyan-blue-background-color.has-vivid-cyan-blue-background-color {
  background-color: #0693e3; }

.has-very-light-gray-color.has-very-light-gray-color {
  color: #eee; }
  .has-very-light-gray-color.has-very-light-gray-color:hover, .has-very-light-gray-color.has-very-light-gray-color:focus, .has-very-light-gray-color.has-very-light-gray-color:active, .has-very-light-gray-color.has-very-light-gray-color:visited, .has-very-light-gray-color.has-very-light-gray-color:focus:hover, .has-very-light-gray-color.has-very-light-gray-color:active:hover, .has-very-light-gray-color.has-very-light-gray-color:visited:hover {
    color: #eee; }

.has-very-light-gray-background-color.has-very-light-gray-background-color {
  background-color: #eee; }

.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color {
  color: #abb8c3; }
  .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:hover, .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:focus, .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:active, .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:visited, .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:focus:hover, .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:active:hover, .has-cyan-bluish-gray-color.has-cyan-bluish-gray-color:visited:hover {
    color: #abb8c3; }

.has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color {
  background-color: #abb8c3; }

.has-very-dark-gray-color.has-very-dark-gray-color {
  color: #313131; }
  .has-very-dark-gray-color.has-very-dark-gray-color:hover, .has-very-dark-gray-color.has-very-dark-gray-color:focus, .has-very-dark-gray-color.has-very-dark-gray-color:active, .has-very-dark-gray-color.has-very-dark-gray-color:visited, .has-very-dark-gray-color.has-very-dark-gray-color:focus:hover, .has-very-dark-gray-color.has-very-dark-gray-color:active:hover, .has-very-dark-gray-color.has-very-dark-gray-color:visited:hover {
    color: #313131; }

.has-very-dark-gray-background-color.has-very-dark-gray-background-color {
  background-color: #313131; }

.has-pure-cyan-color.has-pure-cyan-color {
  color: #26C6DA; }
  .has-pure-cyan-color.has-pure-cyan-color:hover, .has-pure-cyan-color.has-pure-cyan-color:focus, .has-pure-cyan-color.has-pure-cyan-color:active, .has-pure-cyan-color.has-pure-cyan-color:visited, .has-pure-cyan-color.has-pure-cyan-color:focus:hover, .has-pure-cyan-color.has-pure-cyan-color:active:hover, .has-pure-cyan-color.has-pure-cyan-color:visited:hover {
    color: #26C6DA; }

.has-pure-cyan-background-color.has-pure-cyan-background-color {
  background-color: #26C6DA; }

.has-pure-white-color.has-pure-white-color {
  color: #fff; }
  .has-pure-white-color.has-pure-white-color:hover, .has-pure-white-color.has-pure-white-color:focus, .has-pure-white-color.has-pure-white-color:active, .has-pure-white-color.has-pure-white-color:visited, .has-pure-white-color.has-pure-white-color:focus:hover, .has-pure-white-color.has-pure-white-color:active:hover, .has-pure-white-color.has-pure-white-color:visited:hover {
    color: #fff; }

.has-pure-white-background-color.has-pure-white-background-color {
  background-color: #fff; }

.has-blue-gray-color.has-blue-gray-color {
  color: #546E7A; }
  .has-blue-gray-color.has-blue-gray-color:hover, .has-blue-gray-color.has-blue-gray-color:focus, .has-blue-gray-color.has-blue-gray-color:active, .has-blue-gray-color.has-blue-gray-color:visited, .has-blue-gray-color.has-blue-gray-color:focus:hover, .has-blue-gray-color.has-blue-gray-color:active:hover, .has-blue-gray-color.has-blue-gray-color:visited:hover {
    color: #546E7A; }

.has-blue-gray-background-color.has-blue-gray-background-color {
  background-color: #546E7A; }

.has-pure-black-color.has-pure-black-color {
  color: #000; }
  .has-pure-black-color.has-pure-black-color:hover, .has-pure-black-color.has-pure-black-color:focus, .has-pure-black-color.has-pure-black-color:active, .has-pure-black-color.has-pure-black-color:visited, .has-pure-black-color.has-pure-black-color:focus:hover, .has-pure-black-color.has-pure-black-color:active:hover, .has-pure-black-color.has-pure-black-color:visited:hover {
    color: #000; }

.has-pure-black-background-color.has-pure-black-background-color {
  background-color: #000; }
