@import "../blocks/colors";
@import "../blocks/variables";
@import "../blocks/animations";
@import "../blocks/breakpoints";
@import "../blocks/mixins";
@import "../blocks/z-index";

@import "../variables";

@import "../blocks/block-library/style";
@import "../blocks/block-library/theme";

.wp-block-button__link {
	font-size: 1em;

	// Make sure buttons text remains visible if user doesn't select a text color.
	&:not(.has-text-color) {
		color: $very-light-gray;

		&.has {

			&-pale-pink,
			&-light-green-cyan,
			&-pale-cyan-blue,
			&-very-light-gray {
				&-background-color {
					color: $very-dark-gray;
				}
			}
		}

		&:visited,
		&:focus,
		&:hover,
		&:visited:focus,
		&:visited:hover {
			color: #fff;
		}
	}
}

.has-pale-pink-color.has-pale-pink-color {
	color: $pale-pink;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $pale-pink;
	}
}

.has-vivid-red-color.has-vivid-red-color {
	color: $vivid-red;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $vivid-red;
	}
}

.has-luminous-vivid-orange-color.has-luminous-vivid-orange-color {
	color: $luminous-vivid-orange;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $luminous-vivid-orange;
	}
}

.has-luminous-vivid-amber-color.has-luminous-vivid-amber-color {
	color: $luminous-vivid-amber;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $luminous-vivid-amber;
	}
}

.has-light-green-cyan-color.has-light-green-cyan-color {
	color: $light-green-cyan;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $light-green-cyan;
	}
}

.has-vivid-green-cyan-color.has-vivid-green-cyan-color {
	color: $vivid-green-cyan;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $vivid-green-cyan;
	}
}

.has-pale-cyan-blue-color.has-pale-cyan-blue-color {
	color: $pale-cyan-blue;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $pale-cyan-blue;
	}
}

.has-vivid-cyan-blue-color.has-vivid-cyan-blue-color {
	color: $vivid-cyan-blue;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $vivid-cyan-blue;
	}
}

.has-very-light-gray-color.has-very-light-gray-color {

	color: $very-light-gray;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $very-light-gray;
	}
}

.has-cyan-bluish-gray-color.has-cyan-bluish-gray-color {
	color: $cyan-bluish-gray;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $cyan-bluish-gray;
	}
}

.has-very-dark-gray-color.has-very-dark-gray-color {
	color: $very-dark-gray;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $very-dark-gray;
	}
}

.has-cyan-color.has-cyan-color {
	color: $cyan;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $cyan;
	}
}

.has-white-color.has-white-color {
	color: $white;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $white;
	}
}

.has-blue-gray-color.has-blue-gray-color {
	color: $blue-gray;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $blue-gray;
	}
}

.has-black-color.has-black-color {
	color: $black;

	&:hover,
	&:focus,
	&:active,
	&:visited,
	&:focus:hover,
	&:active:hover,
	&:visited:hover {
		color: $black;
	}
}
