.wp-block-separator {
  color: unset;
  border-bottom-color: currentColor;
  background: none; }

.wp-block-pullquote {
  border-left: none;
  border-right: none; }

.wp-block-quote,
.wp-block-pullquote {
  color: var(--gridd-text-color);
  border-top-color: currentColor;
  border-bottom-color: currentColor;
  border-left-color: currentColor;
  border-right-color: currentColor; }
  .wp-block-quote:not(.is-large):not(.is-style-large),
  .wp-block-pullquote:not(.is-large):not(.is-style-large) {
    border-left-color: currentColor; }
  .wp-block-quote cite,
  .wp-block-pullquote cite {
    color: var(--gridd-text-color);
    font-size: calc(1em / var(--gridd-typo-scale)); }

.wp-block-pullquote blockquote {
  border-left: none; }

.wp-block-columns {
  display: grid;
  grid-template-columns: 1fr; }
  .wp-block-columns.has-2-columns, .wp-block-columns.has-3-columns {
    grid-template-columns: 1fr; }
  @media only screen and (min-width: 600px) {
    .wp-block-columns.has-4-columns, .wp-block-columns.has-5-columns {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (min-width: 960px) {
    .wp-block-columns.has-6-columns {
      grid-template-columns: 1fr 1fr 1fr; } }
  .wp-block-columns.alignfull {
    padding-left: var(--gridd-content-padding-left);
    padding-right: var(--gridd-content-padding-right); }
  .wp-block-columns .wp-block-column {
    margin: 0;
    padding: 1em; }
