.button,
a.button,
a.button:visited,
a.comment-reply-link,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  text-decoration: none !important;
  border-radius: 2.5em;
  padding: .35em 1.25em;
  transition: all 150ms ease-in-out;
  position: relative;
  border: 2px solid; }
  .button:active, .button:hover,
  a.button:active,
  a.button:hover,
  a.button:visited:active,
  a.button:visited:hover,
  a.comment-reply-link:active,
  a.comment-reply-link:hover,
  button:active,
  button:hover,
  input[type="button"]:active,
  input[type="button"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:hover {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    box-shadow: 1px 1px 1px 0px; }
  .button:focus,
  a.button:focus,
  a.button:visited:focus,
  a.comment-reply-link:focus,
  button:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus {
    box-shadow: inset 1px 1px 1px 0px; }
