.edit-link {
	opacity: .6;
	line-height: 1;
	transition: opacity 200ms;

	a {
		display: inline-block;
		margin: 0 .5em;
	}

	svg {
		fill: currentColor;
		width: .6em;
		height: .6em;
	}

	&:hover {
		opacity: 1;
	}
}
