.edit-link {
  opacity: .6;
  line-height: 1;
  transition: opacity 200ms; }
  .edit-link a {
    display: inline-block;
    margin: 0 1em; }
  .edit-link svg {
    fill: currentColor;
    width: 1em;
    height: 1em; }
  .edit-link:hover {
    opacity: 1; }
