.gridd-featured-image-post-header {
	margin-left: calc(0px - var(--gridd-content-padding-left));
	margin-right: calc(0px - var(--gridd-content-padding-right));
	position: relative;
	overflow: hidden;
	text-shadow: 0 1px 2px var(--gridd-image-header-overlay-color);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: var(--gridd-image-header-min-height);

	&:after {
		position: absolute;
		background: var(--gridd-image-header-overlay-color);
		content: "\020";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
        mix-blend-mode: multiply;
        z-index: 1;
	}
}

.gridd-featured-image-post-header-image-wrapper {
	&:after {
		position: absolute;
		background: var(--gridd-image-header-overlay-color);
		content: "\020";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
        mix-blend-mode: screen;
        z-index: 1;
	}

	img {
		filter: grayscale(80%);
		width: 100%;
		height: 100%;
		max-width: 1000%;
		min-height: 100%;
		min-width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		object-fit: cover;
	}
}

.gridd-featured-image-post-header-content {
	position: absolute;
	bottom: 0;
	padding: 1em;
	z-index: 2;
	color: var(--gridd-image-header-text-color);
	width: 100%;

	*,
	a,
	a:visited,
	a:hover,
	a:visited:hover {
		color: var(--gridd-image-header-text-color);
	}

	.inner {
		max-width: var(--gridd-content-max-width);
		margin-left: auto;
		margin-right: auto;
	}
}
