.gridd-featured-image-post-header {
	margin-left: calc(0px - var(--pd-h, 1rem));
	margin-right: calc(0px - var(--pd-h, 1rem));
	position: relative;
	overflow: hidden;
	text-shadow: 0 1px 2px var(--im-hoc, rgba(42, 84, 126, 0.8));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: var(--im-hmh, 87vh);

	&::after {
		position: absolute;
		background: var(--im-hoc, rgba(42, 84, 126, 0.8));
		content: "\020";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		mix-blend-mode: multiply;
		z-index: 1;
	}
}

.gridd-featured-image-post-header-image-wrapper {

	&::after {
		position: absolute;
		background: var(--im-hoc, rgba(42, 84, 126, 0.8));
		content: "\020";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		mix-blend-mode: screen;
		z-index: 1;
	}

	img {
		filter: grayscale(80%);
		width: 100%;
		height: 100%;
		max-width: 1000%;
		min-height: 100%;
		min-width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		object-fit: cover;
	}
}

.gridd-featured-image-post-header-content {
	position: absolute;
	bottom: 0;
	padding: 1em;
	z-index: 2;
	color: var(--im-htc, #fff);
	width: 100%;

	*,
	a,
	a:visited,
	a:hover,
	a:visited:hover {
		color: var(--im-htc, #fff);
	}

	.inner {
		max-width: var(--mw-c, 700px);
		margin-left: auto;
		margin-right: auto;
	}
}
