// stylelint-disable no-descending-specificity
@import "../mixins";

textarea {
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
// input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #dedede;
	border-radius: 0;
	padding: 0.5em;

	&:focus {
		color: #111;
	}
}

select {
	border: 1px solid #dedede;
	background: #fff;
	height: 2.5em;
	border-radius: 0;
}

.search-form {
	width: 100%;
	display: flex;

	> label {
		width: 100%;

		> input.search-field {
			display: inline-block;
			background: none;
			border: none;
			border-bottom: 1px solid currentColor;
			border-radius: 0;
			// margin-left: -1em;
			// padding-left: 1.5em;
			// transition: all 200ms;
			opacity: 0.7;
			width: 100%;

			&:hover,
			&:focus {
				opacity: 1;

				+ .gridd-search-icon {
					opacity: 0.7;
				}
			}
		}
	}

	.gridd-search-icon {
		width: 1em;
		height: 100%;
		display: inline-block;
		float: left;
		opacity: 0.5;
		fill: currentColor;
		// transition: all 400ms;

		.rtl & {
			float: right;
		}
	}

	.search-field {
		height: 100%;
		border-radius: 0;
	}
}

.search-submit.search-submit {
	border: none;
	padding: 0 0.5em;
	--element-color: var(--cl);
	--element-background-color: var(--bg);
}
