.gridd-site-wrapper {
  width: 100%;
  max-width: var(--gridd-grid-max-width);
  margin: auto;
  min-height: 100vh;
}

.gridd-tp {
  min-width: 0;
  min-height: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  transition: all 100ms ease-in-out;
  overflow: hidden;
}
.gridd-tp.gridd-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
