@charset "UTF-8";
.main-nav-wrapper {
  position: relative;
  min-height: 2.75rem; }

.navigation.post-navigation {
  border-radius: 0; }

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1em;
  padding: 1em 0;
  border-top: 1px solid currentColor; }
  .nav-links a {
    display: block;
    text-decoration: none; }
  .nav-links .nav-next,
  .nav-links .nav-previous {
    display: flex; }
  .nav-links .nav-next:after,
  .nav-links .nav-previous:before {
    vertical-align: middle;
    color: var(--gridd-links-color);
    width: 1em;
    height: 100%;
    display: inline-block; }
  .nav-links .nav-previous:before {
    content: "‹";
    padding-right: 0.5em; }
  .nav-links .nav-next:after {
    content: "›";
    padding-left: 0.5em; }
