@import "../functions";

.main-nav-wrapper {
	position: relative;
	min-height: 2.75rem;
}

.navigation.post-navigation {
	border-radius: 0;
}

.nav-links {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 1em;
	padding: 1em 0;

	&:before {
		content: "";
		opacity: .1;
		border-top: 1px solid currentColor;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	a {
		display: block;
		text-decoration: none;
	}

	.nav-next,
	.nav-previous {
		display: flex;
	}

	.nav-next:after,
	.nav-previous:before {
		vertical-align: middle;
		color: var(--gridd-links-color);
		width: 1em;
		height: 100%;
		display: inline-block;
	}

	.nav-previous:before {
		content: "‹";
		padding-right: 0.5em;
	}

	.nav-next:after {
		content: "›";
		padding-left: 0.5em;
	}
}
