.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
	display: flex;
	align-items: center;

	>.item {
		text-align: center;
		min-width: 1.5em;
		display: inline-block;
	}

	a {
		display: block;
		padding: .25em .5em;
	}
}

.entry-footer {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.85em;

	>* {
		margin-right: 2.5em;

		.rtl & {
			margin-right: 0;
			margin-left: 2.5em;
		}
	}
}

.entry-meta {
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: calc(1em / var(--gridd-typo-scale));
}
