.gridd-rest-api-placeholder {
  display: block;
}
.gridd-rest-api-placeholder:before, .gridd-rest-api-placeholder:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5em;
  margin-bottom: 0.5em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 100%);
  -webkit-animation: rest-api-placeholder1 2.5s ease-in-out infinite;
          animation: rest-api-placeholder1 2.5s ease-in-out infinite;
}
.gridd-rest-api-placeholder:after {
  width: 50%;
  -webkit-animation: rest-api-placeholder2 2.5s ease-in-out infinite;
          animation: rest-api-placeholder2 2.5s ease-in-out infinite;
}

@-webkit-keyframes rest-api-placeholder1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes rest-api-placeholder1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes rest-api-placeholder2 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(200%, 0, 0);
            transform: translate3d(200%, 0, 0);
  }
}
@keyframes rest-api-placeholder2 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(200%, 0, 0);
            transform: translate3d(200%, 0, 0);
  }
}
