@import "../mixins";

.alignleft {
	// display: inline;
	float: left;
	margin-right: 1.5em !important;
	// margin-left: calc(50% - var(--gridd-content-max-width-calculated, var(--gridd-content-max-width)) / 2) !important;

	img {
		float: left;
	}
}

.alignright {
	// display: inline;
	float: right;
	margin-left: 1.5em !important;
	// margin-right: calc(50% - var(--gridd-content-max-width-calculated, var(--gridd-content-max-width)) / 2) !important;

	img {
		float: right;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
}

.alignwide,
.alignfull {
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	img {
		width: 100%;
	}
}

.alignwide {
	width: calc(var(--gridd-content-max-width-calculated, var(--gridd-content-max-width)) + 25%);
	max-width: 100%;
}

.alignfull {
	width: 100%;

	>* {
		width: 100%;
	}
}

.hidden {
	display: none !important;
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
	@include clearfix;
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
	@include clearfix-after;
}

