.gridd-tp-header.gridd-tp {
	--gridd-header-box-shadow-default: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display: flex;
	justify-content: center;
	overflow: visible;
	z-index: 1000;
	background-color: var(--gridd-header-bg, #fff);
	box-shadow: var(--gridd-header-box-shadow, var(--gridd-header-box-shadow-default));

	> .inner {
		width: 100%;
		max-width: var(--gridd-header-max-width, 47em);
		grid-gap: var(--gridd-header-grid-gap, 0);
		padding: var(--gridd-header-padding, 0 1em);
	}
}
