.gridd-header-search {
	background-color: var(--h-s-bg, #ffffff);

	form.search-form {
		font-size: calc(var(--h-s-fs, 1) * 1em);
		color: var(--h-s-cl, #000000);
	}

	.search-submit {

		&:focus,
		&:hover,
		&:active {
			box-shadow: none;
		}
	}
}
