a.custom-logo-link,
a.custom-logo-link:hover,
a.custom-logo-link:focus,
a.custom-logo-link:active {
	border-bottom: none;
}

.gridd-tp-header_branding.gridd-tp {
	background-color: var(--bg, #fff);
	display: flex;
	width: 100%;
	padding: var(--pd, 0);
	justify-content: var(--ha, left);
	align-items: var(--va, center);

	&.inline {
		.site-title {
			padding-left: calc(var(--epd, 0.5) * 1em);
			padding-right: calc(var(--epd, 0.5) * 1em);
		}
	}

	&.vertical {
		flex-wrap: wrap;

		>* {
			display: flex;
			width: 100%;
			justify-content: var(--ha, left);
		}

		.site-title {
			padding-top: calc(var(--epd, 0.5) * 1em);
			padding-bottom: calc(var(--epd, 0.5) * 1em);
		}
	}

	.site-title,
	.site-description {
		margin: 0;
	}

	.site-description {
		font-size: calc(var(--tls, 1) * 1em);
	}

	.site-description,
	.site-title,
	.site-title a,
	.site-title a:visited,
	.site-title a:hover,
	.site-title a:visited:hover {
		color: var(--header-textcolor, #000);
	}

	.site-title {
		line-height: 1;
		font-size: calc(var(--sts, 2) * 1em);

		a {
			text-decoration: none;
			color: var(--header-textcolor, #000);
		}
	}

	a {
		border-bottom-width: 0;
		&:hover {
			outline: none;
			border-bottom-width: 0;
			box-shadow: none;
		}

		&:focus {
			background: transparent;
			outline: none;
			border-bottom-width: 0;
			box-shadow: none;
		}
	}

	.custom-logo-link {
		max-width: calc(var(--mw, 100) * 1px);
		line-height: 0;
		max-height: 100%;
		display: block;

		img {
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
}
