a.custom-logo-link {
	&:hover {
		border-bottom: none;
	}
}

.gridd-tp-header_branding.gridd-tp {
	background-color: var(--gridd-branding-bg, #fff);
	display: flex;
	width: 100%;
	padding: var(--gridd-branding-padding, 0.5em);
	justify-content: var(--gridd-branding-horizontal-align, left);
	align-items: var(--gridd-branding-vertical-align, center);

	&.inline {
		.site-title {
			padding-left: var(--gridd-branding-elements-padding, 0.5em);
			padding-right: var(--gridd-branding-elements-padding, 0.5em);
		}
	}

	&.vertical {
		flex-wrap: wrap;

		>* {
			display: flex;
			width: 100%;
			justify-content: var(--gridd-branding-horizontal-align, left);
		}

		.site-title {
			padding-top: var(--gridd-branding-elements-padding, 0.5em);
			padding-bottom: var(--gridd-branding-elements-padding, 0.5em);
		}
	}

	.site-title,
	.site-description {
		margin: 0;
	}

	.site-description {
		font-size: var(--gridd-tagline-size, 1em);
	}

	.site-description,
	.site-title,
	.site-title a,
	.site-title a:visited,
	.site-title a:hover,
	.site-title a:visited:hover {
		color: var(--header-textcolor, #000);
	}

	.site-title {
		line-height: 1;
		font-size: var(--gridd-sitetitle-size);

		a {
			text-decoration: none;
			color: var(--header-textcolor, #000);
		}
	}

	a {
		&:hover {
			outline: none;
		}

		&:focus {
			background: transparent;
			outline: none;
		}
	}

	.custom-logo-link {
		max-width: var(--gridd-logo-max-width, 100px);
		line-height: 0;
		max-height: 100%;
		display: block;

		img {
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
}
