.gridd-header-search {
	.gridd-toggle {
		border: none;
		padding: 0;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 var(--h-s-pd-l, 1em) 0 var(--h-s-pd-r, 1em);
		border-radius: 0;

		svg,
		path {
			fill: var(--h-s-cl, #000000);
		}

		&[aria-expanded=true] {
			+.header-searchform-wrapper {
				visibility: visible;
				margin-bottom: 0;
			}
		}

		&:active {
			box-shadow: none;
		}
	}
}

.header-searchform-wrapper {
	visibility: hidden;
	position: fixed;
	font-size: 1.5em;
	bottom: 0;
	margin-bottom: calc(-5em - 110px);
	transition: margin-bottom 100ms ease-in;
	left: 0;
	width: 100%;
	background-color: var(--h-s-bg, #ffffff);
	padding: calc(1.5em + 54px) 1.5em; // The additional 54px vertically accomodate for the mobile nav.
	z-index: 99999;
}
