// $blocks-button__height: 56px;

.wp-block-button {
	color: $white;
	margin-bottom: 1.5em;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		/*rtl:ignore*/
		text-align: right;
	}
}

.wp-block-button__link {
	background-color: $very-dark-gray;
	border: none;
	border-radius: 3em;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	margin: 0;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	overflow-wrap: break-word;

	&:hover,
	&:focus,
	&:active,
	&:visited {
		color: inherit;
	}

	// Make sure buttons text remains visible if user doesn't select a text color.
	&:not(.has-text-color) {
		color: $very-light-gray;

		&.has {

			&-pale-pink,
			&-light-green-cyan,
			&-pale-cyan-blue,
			&-very-light-gray {
				&-background-color {
					color: $very-dark-gray;
				}
			}
		}

		&:visited,
		&:focus,
		&:hover,
		&:visited:focus,
		&:visited:hover {
			color: $very-light-gray;
		}
	}	
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.is-style-outline {
	color: currentColor;

	.wp-block-button__link {
		background-color: transparent;
		border: 2px solid currentcolor;
	}
}
