@import "functions";

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
// Buttons
@mixin button() {
	// color: currentColor;
	text-decoration: none !important;
	border-radius: 2.5em;
	padding: .35em 1.25em;
	transition: all 150ms ease-in-out;
	position: relative;
	border: 2px solid; //currentColor;
	background: none;

	&:active,
	&:hover {
		cursor: pointer;
		outline: none;
		text-decoration: none;
		box-shadow: 0px 1px 1px 0px;
	}

	&:focus {
		box-shadow: inset 0px 1px 1px 0px;
	}
}

@mixin widget-list {
	ul {
		list-style: none;
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;

		a {
			display: block;
			padding: .25em 0;
			text-decoration: none;
			border-bottom: 1px solid rgba(0,0,0,.1);

			&:hover {
				text-decoration: none;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: var(--gridd-links-color);
				color: #fff;
				filter: none;
			}
		}

		ul {
			list-style: none;
			list-style-type: none;

			a {
				&:before {
					content: inline-svg('<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/></svg>');
					display: inline-block;
					transform: rotate(270deg);
					margin-right: .5em;
				}
			}
		}

		&.menu {
			> li {
				&:last-child {
					> a {
						border-bottom: none;
					}
				}
			}
		}
	}
}