.button,
a.button,
a.button:visited,
a.comment-reply-link,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	text-decoration: none !important;
	border-radius: 4px;
	padding: 0.35em 1.25em;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
  overflow-wrap: break-word;
  background: var(--cl);
  color: var(--bg);
}
