.button,
a.button,
a.button:visited,
a.comment-reply-link,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	--element-color: var(--bg);
	--element-background-color: var(--cl);
	text-decoration: none !important;
	border-radius: 4px;
	padding: 0.35em 1.25em;
	border: 2px solid var(--element-background-color);
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
	overflow-wrap: break-word;
	color: var(--element-color);
	background-color: var(--element-background-color);
}

.button:active,
.button:hover,
.button:focus,
a.button:active,
a.button:hover,
a.button:focus,
a.button:visited:active,
a.button:visited:hover,
a.button:visited:focus,
a.comment-reply-link:active,
a.comment-reply-link:hover,
a.comment-reply-link:focus,
button:active,
button:hover,
button:focus,
input[type="button"]:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus {
	outline: none !important;
	background: var(--element-color);
	color: var(--element-background-color);
	border-color: var(--element-background-color);
}
