.gridd-nav-vertical .gridd-navigation {
	display: block;
}

.gridd-nav-vertical .gridd-navigation ul {
	position: relative;
	box-shadow: none;
}

.gridd-nav-vertical .gridd-navigation .current-menu-item ul,
.gridd-nav-vertical .gridd-navigation .current_page_item ul,
.gridd-nav-vertical .gridd-navigation .current-page-ancestor ul,
.gridd-nav-vertical .gridd-navigation .current-menu-ancestor ul {
	display: block;
}

.gridd-nav-vertical .gridd-navigation {
	flex-direction: column;
	align-items: flex-start;
}

.gridd-nav-vertical .gridd-navigation li {
	width: 100%;
}

.gridd-nav-vertical .gridd-menu-item-wrapper {
	width: 100%;
	padding: 0;
}

.gridd-nav-vertical .gridd-menu-item-wrapper a {
	padding-left: 0;
	padding-right: 0;
	color: var(--cl);
}

.gridd-nav-vertical .sub-menu {
	position: relative;
	box-shadow: none;
	min-width: 0;
	max-width: 100%;
}

.gridd-nav-vertical .current-menu-item ul,
.gridd-nav-vertical .current_page_item ul,
.gridd-nav-vertical .current-page-ancestor ul,
.gridd-nav-vertical .current-menu-ancestor ul {
	display: block;
}

.gridd-nav-vertical .current-menu-item > .gridd-menu-item-wrapper > a,
.gridd-nav-vertical .current-menu-item > .gridd-menu-item-wrapper > a + button,
.gridd-nav-vertical .current_page_item > .gridd-menu-item-wrapper > a,
.gridd-nav-vertical .current_page_item > .gridd-menu-item-wrapper > a + button {
	color: var(--acl, var(--lc));
}
