.gridd-nav-collapse nav {
	display: none;
}

.gridd-nav-collapse .gridd-toggle-navigation {
	display: flex;
	padding: 1em;
	border: 2px solid transparent;
	height: 1em;
	line-height: 1;
	box-sizing: content-box;
	border-radius: 0;
	background-color: transparent;
	color: var(--cl);
}

.gridd-nav-collapse .gridd-toggle-navigation svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.gridd-nav-collapse .gridd-toggle-navigation .icon svg {
	transition: all 200ms;
	transform-origin: center center;
}

.gridd-nav-collapse .gridd-toggle-navigation:hover svg,
.gridd-nav-collapse .gridd-toggle-navigation:focus svg,
.gridd-nav-collapse .gridd-toggle-navigation.focus svg,
.gridd-nav-collapse .gridd-toggle-navigation.toggled-on svg {
	fill: currentColor;
}

.gridd-nav-collapse .gridd-toggle-navigation .icon {
	line-height: 1;
}

.gridd-nav-collapse .gridd-toggle-navigation .icon.close {
	position: absolute;
	transform: translateX(-1em);
}

.gridd-nav-collapse .gridd-toggle-navigation .icon.close svg {
	opacity: 0;
}

.gridd-nav-collapse .gridd-toggle-navigation:hover,
.gridd-nav-collapse .gridd-toggle-navigation:focus,
.gridd-nav-collapse .gridd-toggle-navigation.focus,
.gridd-nav-collapse .gridd-toggle-navigation.toggled-on {
	background: none;
	box-shadow: none;
}

.gridd-menu-collapse-position-top-right nav,
.gridd-menu-collapse-position-center-right nav,
.gridd-menu-collapse-position-bottom-right nav {
	right: 0;
}

.gridd-nav-collapse .gridd-toggle-navigation.toggled-on ~ nav {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	background-color: var(--bg);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
	width: 15em;
	max-width: 350px;
	z-index: 9;
}

.gridd-nav-collapse .gridd-toggle-navigation.toggled-on ~ nav,
.gridd-nav-collapse .gridd-toggle-navigation.toggled-on ~ nav .gridd-navigation {
	display: block;
}

.gridd-nav-collapse .gridd-toggle-navigation.toggled-on .icon svg {
	transform: rotate(360deg);
}

.gridd-nav-collapse .gridd-toggle-navigation.toggled-on .icon.open svg {
	opacity: 0;
}

.gridd-nav-collapse .gridd-toggle-navigation.toggled-on .icon.close svg {
	opacity: 1;
}

.gridd-menu-collapse-position-top-left .inner,
.gridd-menu-collapse-position-top-center .inner,
.gridd-menu-collapse-position-top-right .inner {
	align-items: flex-start;
}

.gridd-menu-collapse-position-center-left .inner,
.gridd-menu-collapse-position-center-center .inner,
.gridd-menu-collapse-position-center-right .inner {
	align-items: center;
}

.gridd-menu-collapse-position-bottom-left .inner,
.gridd-menu-collapse-position-bottom-center .inner,
.gridd-menu-collapse-position-bottom-right .inner {
	align-items: flex-end;
}

.gridd-menu-collapse-position-top-left .inner,
.gridd-menu-collapse-position-center-left .inner,
.gridd-menu-collapse-position-bottom-left .inner {
	justify-content: flex-start;
}

.gridd-menu-collapse-position-top-center .inner,
.gridd-menu-collapse-position-center-center .inner,
.gridd-menu-collapse-position-bottom-center .inner {
	justify-content: center;
}

.gridd-menu-collapse-position-top-right .inner,
.gridd-menu-collapse-position-center-right .inner,
.gridd-menu-collapse-position-bottom-right .inner {
	justify-content: flex-end;
}

.gridd-nav-collapse .gridd-toggle-navigation.toggled-on ~ nav .gridd-menu-item-wrapper a {
	padding-left: calc(var(--ipd, 1em) * 0.5);
	padding-right: calc(var(--ipd, 1em) * 0.5);
}
