.gridd-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: var(--j);
}

.gridd-navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	z-index: 5;
	display: none;
	background: var(--bg);
}

.gridd-navigation ul ul {
	position: relative;
}

.no-menu .gridd-navigation > ul {
	display: flex;
	position: relative;
	box-shadow: none;
	flex-wrap: nowrap;
}

.gridd-menu-item-wrapper,
.no-menu li {
	padding: 0 0.25em;
	display: flex;
	align-items: stretch;
	width: 100%;
	min-width: max-content;
}

.gridd-menu-item-wrapper > a,
.no-menu a {
	color: var(--cl);
	text-decoration: none;
	padding: 0.5em;
	display: block;
	width: 100%;
	border-bottom: 0.1em solid transparent;
}

.gridd-menu-item-wrapper > button {
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0 0.5em;
	color: var(--cl);
	background: none;
	position: relative;
	overflow: hidden;
	width: 1em;
	box-sizing: content-box;
	border-bottom: 0.1em solid transparent;
}

.current_page_item > a {
	color: var(--acl, var(--lc));
	border-bottom-color: var(--acl, var(--lc));
}

.gridd-menu-item-wrapper.has-arrow a {
	padding-right: 0;
}

.gridd-menu-item-wrapper > a:focus {
	border-bottom-color: var(--acl, var(--lc));
}

.gridd-menu-item-wrapper > button:hover {
	border-color: transparent;
}

.gridd-menu-item-wrapper > a:hover,
.gridd-menu-item-wrapper > a:focus,
.gridd-menu-item-wrapper > button:hover,
.gridd-menu-item-wrapper > a:hover + button {
	outline: none;
	color: var(--acl, var(--lc));
}

.current-menu-item > .gridd-menu-item-wrapper > a,
.current-menu-item > .gridd-menu-item-wrapper > a + button {
	color: var(--acl, var(--lc));
	border-bottom-color: var(--acl, var(--lc));
}

.gridd-menu-item-wrapper > button:hover::before,
.gridd-menu-item-wrapper > button:focus::before {
	content: "";
	background: var(--acl, var(--lc));
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.05;
}

.current-menu-ancestor .gridd-menu-item-wrapper > a,
.current-menu-ancestor .gridd-menu-item-wrapper > a + button {
	color: var(--acl, var(--lc));
}

.rtl .gridd-menu-item-wrapper.has-arrow a {
	padding-right: calr(var(--ipd, 1em) * 0.5);
	padding-left: 0;
}

.gridd-tp-nav:not(.should-collapse) .gridd-toggle-navigation{
  display: none;
}

.should-collapse nav {
	display: none;
}

.should-collapse .gridd-toggle-navigation {
	display: flex;
	padding: 1em;
	border: 2px solid transparent;
	height: 1em;
	line-height: 1;
	box-sizing: content-box;
	border-radius: 0;
	background-color: transparent;
	color: var(--cl);
}

.should-collapse .gridd-toggle-navigation svg {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.should-collapse .gridd-toggle-navigation .icon svg {
	transition: all 200ms;
	transform-origin: center center;
}

.should-collapse .gridd-toggle-navigation:hover svg,
.should-collapse .gridd-toggle-navigation:focus svg,
.should-collapse .gridd-toggle-navigation.focus svg,
.should-collapse .gridd-toggle-navigation.toggled-on svg {
	fill: currentColor;
}

.should-collapse .gridd-toggle-navigation .icon {
	line-height: 1;
}

.should-collapse .gridd-toggle-navigation .icon.close {
	position: absolute;
	transform: translateX(-1em);
}

.should-collapse .gridd-toggle-navigation .icon.close svg {
	opacity: 0;
}

.should-collapse .gridd-toggle-navigation:hover,
.should-collapse .gridd-toggle-navigation:focus,
.should-collapse .gridd-toggle-navigation.focus,
.should-collapse .gridd-toggle-navigation.toggled-on {
	background: none;
	box-shadow: none;
}

.gridd-menu-collapse-position-top-right nav,
.gridd-menu-collapse-position-center-right nav,
.gridd-menu-collapse-position-bottom-right nav {
	right: 0;
}

.should-collapse .gridd-toggle-navigation.toggled-on ~ nav {
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	background-color: var(--bg);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
	width: 15em;
	max-width: 350px;
	z-index: 9;
}

.should-collapse .gridd-toggle-navigation.toggled-on ~ nav,
.should-collapse .gridd-toggle-navigation.toggled-on ~ nav .gridd-navigation {
	display: block;
}

.should-collapse .gridd-toggle-navigation.toggled-on .icon svg {
	transform: rotate(360deg);
}

.should-collapse .gridd-toggle-navigation.toggled-on .icon.open svg {
	opacity: 0;
}

.should-collapse .gridd-toggle-navigation.toggled-on .icon.close svg {
	opacity: 1;
}

.gridd-menu-collapse-position-top-left .inner,
.gridd-menu-collapse-position-top-center .inner,
.gridd-menu-collapse-position-top-right .inner {
	align-items: flex-start;
}

.gridd-menu-collapse-position-center-left .inner,
.gridd-menu-collapse-position-center-center .inner,
.gridd-menu-collapse-position-center-right .inner {
	align-items: center;
}

.gridd-menu-collapse-position-bottom-left .inner,
.gridd-menu-collapse-position-bottom-center .inner,
.gridd-menu-collapse-position-bottom-right .inner {
	align-items: flex-end;
}

.gridd-menu-collapse-position-top-left .inner,
.gridd-menu-collapse-position-center-left .inner,
.gridd-menu-collapse-position-bottom-left .inner {
	justify-content: flex-start;
}

.gridd-menu-collapse-position-top-center .inner,
.gridd-menu-collapse-position-center-center .inner,
.gridd-menu-collapse-position-bottom-center .inner {
	justify-content: center;
}

.gridd-menu-collapse-position-top-right .inner,
.gridd-menu-collapse-position-center-right .inner,
.gridd-menu-collapse-position-bottom-right .inner {
	justify-content: flex-end;
}

.should-collapse .gridd-toggle-navigation.toggled-on ~ nav .gridd-menu-item-wrapper a {
	padding-left: calc(var(--ipd, 1em) * 0.5);
	padding-right: calc(var(--ipd, 1em) * 0.5);
}
