.rtl .search-form .gridd-search-icon {
	float: right;
}

.rtl .entry-footer > * {
	margin-right: 0;
	margin-left: 2.5em;
}

.rtl blockquote {
	border-left: none;
	border-right: 5px solid currentColor;
}
