// stylelint-disable no-descending-specificity
// stylelint-disable selector-type-no-unknown

.editor-styles-wrapper {
	--fs: var(--gridd-font-size, 18);
	--fs-px: calc(var(--fs) * 1px);
	--ts: var(--gridd-typo-scale, 1.26);
	--tr: var(--gridd-typo-ratio, 0.25);
	--fs-tr: calc(var(--fs-px) + var(--tr) * 1vw);

	--gridd-content-max-width: var(--mw);
	--gridd-content-max-width-calculated: var(--mw-c);
	--gridd-text-color: var(--cl);
	--gridd-links-color: var(--lc);
	--gridd-content-bg: var(--bg);
	--gridd-content-padding-left: var(--pd-h);
	--gridd-content-padding-right: var(--pd-h);
	--gridd-content-padding-top: var(--pd-t);
	--gridd-content-padding-bottom: var(--pd-b);
	--gridd-grid-max-width: var(--mw);
	--acl: var(--lc);
	--fs-4x-ts-tr: calc(var(--ts) * var(--ts) * var(--ts) * var(--ts) * var(--fs-tr));
	--fs-3x-ts-tr: calc(var(--ts) * var(--ts) * var(--ts) * var(--fs-tr));
	--fs-2x-ts-tr: calc(var(--ts) * var(--ts) * var(--fs-tr));
	--fs-1x-ts-tr: calc(var(--ts) * var(--fs-tr));
	--fs-0x-ts-tr: var(--fs-tr);
	--fs-1d-ts-tr: calc(var(--fs-tr) / var(--ts));
	--fs-2d-ts-tr: calc(var(--fs-tr) / var(--ts) / var(--ts));
	--fs-3d-ts-tr: calc(var(--fs-tr) / var(--ts) / var(--ts) / var(--ts));
	--fs-4d-ts-tr: calc(var(--fs-tr) / var(--ts) / var(--ts) / var(--ts) / var(--ts));

	--system-fonts: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;

	margin: 0;
	background: #fff;
	overflow-x: hidden;
	font-size: var(--fs-tr);
	color: var(--cl, #000);
	font-family: var(--system-fonts);
	font-weight: 400;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

@import "../blocks/audio.scss";
@import "../blocks/button.scss";
@import "../blocks/calendar.scss";
@import "../blocks/categories.scss";
@import "../blocks/code.scss";
@import "../blocks/columns.scss";
@import "../blocks/cover.scss";
@import "../blocks/embed.scss";
@import "../blocks/file.scss";
@import "../blocks/gallery.scss";
@import "../blocks/group.scss";
@import "../blocks/image.scss";
@import "../blocks/latest-comments.scss";
@import "../blocks/latest-posts.scss";
@import "../blocks/media-text.scss";
@import "../blocks/paragraph.scss";
@import "../blocks/preformatted.scss";
@import "../blocks/pullquote.scss";
@import "../blocks/quote.scss";
@import "../blocks/rss.scss";
@import "../blocks/search.scss";
@import "../blocks/separator.scss";
@import "../blocks/spacer.scss";
@import "../blocks/subhead.scss";
@import "../blocks/table.scss";
@import "../blocks/text-columns.scss";
@import "../blocks/verse.scss";
@import "../blocks/video.scss";

.editor-post-title__block .editor-post-title__input {
	font-size: var(--fs-4x-ts-tr);
	color: var(--cl, #000);
}

.block-editor .edit-post-visual-editor.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper {
	font-size: var(--fs-tr);
	color: var(--cl, #000);
	background-color: var(--bg, #fff);

	p {
		font-size: var(--fs-tr);
	}

	h1 {
		font-size: var(--fs-4x-ts-tr);
	}

	h2 {
		font-size: var(--fs-3x-ts-tr);
	}

	h3 {
		font-size: var(--fs-2x-ts-tr);
	}

	h4 {
		font-size: var(--fs-1x-ts-tr);
	}

	h5 {
		font-size: var(--fs-1d-ts-tr);
	}

	h6 {
		font-size: var(--fs-2d-ts-tr);
	}

	.smaller,
	smaller {
		font-size: var(--fs-3d-ts-tr);
	}

	.smallest,
	smallest {
		font-size: var(--fs-4d-ts-tr);
	}

	a,
	a:visited {
		color: var(--lc, #0f5e97);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

		&:active,
		&:focus,
		&:hover {
			outline: thin dotted;
		}

		&:focus {
			outline: thin dashed;
		}
	}

	.wp-caption,
	.wp-block-image figcaption {
		max-width: 100%;
		width: 100%;
		color: var(--cl, #000);
		font-size: var(--fs-1d-ts-tr);
	}

	.wp-block-quote__citation {
		color: var(--cl, #000);
		font-size: var(--fs-1d-ts-tr);
	}

	.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left-color: currentColor;
	}

	.wp-block-quote,
	.wp-block-pullquote {
		color: var(--cl, #000);
		border-top-color: currentColor;
		border-bottom-color: currentColor;
		border-left-color: currentColor;
		border-right-color: currentColor;
	}

	.wp-block-cover {

		.wp-block-cover-text {
			font-size: var(--fs-1x-ts-tr);
		}
	}
}

.block-editor .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
	font-size: var(--fs-4x-ts-tr);
}

.wp-block-freeform.block-library-rich-text__tinymce {

	a {
		color: var(--lc, #0f5e97);
	}
}

.wp-block {

	&:not([data-align="full"]) {
		max-width: var(--mw-c, 700px);
	}

	&[data-align="wide"] {
		max-width: calc(var(--mw-c, 700px) + 25%);
	}
}
