@import "../core/base";
.editor-post-title__block .editor-post-title__input {
	font-size: var(--fs-4x-ts-tr);
	color: var(--cl, #000);
}

.block-editor .edit-post-visual-editor.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper {
	font-size: var(--fs-tr);
	color: var(--cl, #000);
	background-color: var(--bg, #fff);

	p {
		font-size: var(--fs-tr);
	}

	h1 {
		font-size: var(--fs-4x-ts-tr);
	}

	h2 {
		font-size: var(--fs-3x-ts-tr);
	}

	h3 {
		font-size: var(--fs-2x-ts-tr);
	}

	h4 {
		font-size: var(--fs-1x-ts-tr);
	}

	h5 {
		font-size: var(--fs-1d-ts-tr);
	}

	h6 {
		font-size: var(--fs-2d-ts-tr);
	}

	.smaller,
	smaller {
		font-size: var(--fs-3d-ts-tr);
	}

	.smallest,
	smallest {
		font-size: var(--fs-4d-ts-tr);
	}

	a,
	a:visited {
		color: var(--lc, #0f5e97);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

		&:active,
		&:focus,
		&:hover {
			color: var(--lch, #541cfc);
			outline: thin dotted;
		}

		&:focus {
			outline: thin dashed;
		}
	}

	.wp-caption,
	.wp-block-image figcaption {
		max-width: 100%;
		width: 100%;
		color: var(--cl, #000);
		font-size: var(--fs-1d-ts-tr);
	}

	.wp-block-quote__citation {
		color: var(--cl, #000);
		font-size: var(--fs-1d-ts-tr);
	}

	.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left-color: currentColor;
	}

	.wp-block-quote,
	.wp-block-pullquote {
		color: var(--cl, #000);
		border-top-color: currentColor;
		border-bottom-color: currentColor;
		border-left-color: currentColor;
		border-right-color: currentColor;
	}

	.wp-block-cover {
		.wp-block-cover-text {
			font-size: var(--fs-1x-ts-tr);
		}
	}
}

.block-editor .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
	font-size: var(--fs-4x-ts-tr);
}

.wp-block-freeform.block-library-rich-text__tinymce {
	a {
		color: var(--lc, #0f5e97);
	}
}

.wp-block {
	&:not([data-align="full"]) {
		max-width: var(--mw-c, 700px);
	}

	&[data-align="wide"] {
		max-width: calc(var(--mw-c, 700px) + 25%);
	}
}
