.editor-styles-wrapper {
  --fs: var(--fs, 18);
  --fs-px: calc(var(--fs) * 1px);
  --ts: var(--gridd-typo-scale, 1.26);
  --tr: var(--gridd-typo-ratio, 0.25);
  --fs-tr: calc(var(--fs-px) + var(--tr) * 1vw);
  --acl: var(--lc);
  --fs-4x-ts-tr: calc(var(--ts) * var(--ts) * var(--ts) * var(--ts) * var(--fs-tr));
  --fs-3x-ts-tr: calc(var(--ts) * var(--ts) * var(--ts) * var(--fs-tr));
  --fs-2x-ts-tr: calc(var(--ts) * var(--ts) * var(--fs-tr));
  --fs-1x-ts-tr: calc(var(--ts) * var(--fs-tr));
  --fs-0x-ts-tr: var(--fs-tr);
  --fs-1d-ts-tr: calc(var(--fs-tr) / var(--ts));
  --fs-2d-ts-tr: calc(var(--fs-tr) / var(--ts) / var(--ts));
  --fs-3d-ts-tr: calc(var(--fs-tr) / var(--ts) / var(--ts) / var(--ts));
  --fs-4d-ts-tr: calc(var(--fs-tr) / var(--ts) / var(--ts) / var(--ts) / var(--ts));
  --system-fonts: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  background: #fff;
  font-size: var(--fs-tr);
  color: var(--cl, #000);
  font-family: var(--system-fonts);
  font-weight: 400;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.editor-post-title__block .editor-post-title__input {
  font-size: var(--fs-4x-ts-tr);
  color: var(--cl, #000);
}

.block-editor .edit-post-visual-editor.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper {
  font-size: var(--fs-tr);
  color: var(--cl, #000);
  background-color: var(--bg, #fff);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper p,
.edit-post-visual-editor.editor-styles-wrapper p {
  font-size: var(--fs-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper h1,
.edit-post-visual-editor.editor-styles-wrapper h1 {
  font-size: var(--fs-4x-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper h2,
.edit-post-visual-editor.editor-styles-wrapper h2 {
  font-size: var(--fs-3x-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper h3,
.edit-post-visual-editor.editor-styles-wrapper h3 {
  font-size: var(--fs-2x-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper h4,
.edit-post-visual-editor.editor-styles-wrapper h4 {
  font-size: var(--fs-1x-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper h5,
.edit-post-visual-editor.editor-styles-wrapper h5 {
  font-size: var(--fs-1d-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper h6,
.edit-post-visual-editor.editor-styles-wrapper h6 {
  font-size: var(--fs-2d-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .smaller,
.block-editor .edit-post-visual-editor.editor-styles-wrapper smaller,
.edit-post-visual-editor.editor-styles-wrapper .smaller,
.edit-post-visual-editor.editor-styles-wrapper smaller {
  font-size: var(--fs-3d-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .smallest,
.block-editor .edit-post-visual-editor.editor-styles-wrapper smallest,
.edit-post-visual-editor.editor-styles-wrapper .smallest,
.edit-post-visual-editor.editor-styles-wrapper smallest {
  font-size: var(--fs-4d-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper a,
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited,
.edit-post-visual-editor.editor-styles-wrapper a,
.edit-post-visual-editor.editor-styles-wrapper a:visited {
  color: var(--lc, #0f5e97);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:active, .block-editor .edit-post-visual-editor.editor-styles-wrapper a:focus, .block-editor .edit-post-visual-editor.editor-styles-wrapper a:hover,
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:active,
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:hover,
.edit-post-visual-editor.editor-styles-wrapper a:active,
.edit-post-visual-editor.editor-styles-wrapper a:focus,
.edit-post-visual-editor.editor-styles-wrapper a:hover,
.edit-post-visual-editor.editor-styles-wrapper a:visited:active,
.edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
.edit-post-visual-editor.editor-styles-wrapper a:visited:hover {
  outline: thin dotted;
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:focus,
.block-editor .edit-post-visual-editor.editor-styles-wrapper a:visited:focus,
.edit-post-visual-editor.editor-styles-wrapper a:focus,
.edit-post-visual-editor.editor-styles-wrapper a:visited:focus {
  outline: thin dashed;
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-caption,
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption,
.edit-post-visual-editor.editor-styles-wrapper .wp-caption,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-image figcaption {
  max-width: 100%;
  width: 100%;
  color: var(--cl, #000);
  font-size: var(--fs-1d-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote__citation {
  color: var(--cl, #000);
  font-size: var(--fs-1d-ts-tr);
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large),
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left-color: currentColor;
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-quote,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-pullquote {
  color: var(--cl, #000);
  border-top-color: currentColor;
  border-bottom-color: currentColor;
  border-left-color: currentColor;
  border-right-color: currentColor;
}
.block-editor .edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.edit-post-visual-editor.editor-styles-wrapper .wp-block-cover .wp-block-cover-text {
  font-size: var(--fs-1x-ts-tr);
}

.block-editor .editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
  font-size: var(--fs-4x-ts-tr);
}

.wp-block-freeform.block-library-rich-text__tinymce a {
  color: var(--lc, #0f5e97);
}

/*# sourceMappingURL=editor.css.map */
