/**
 * Breakpoints & Media Queries
 */
/**
 * Colors
 */
/**
 * Deprecated colors.
 * Please avoid using these.
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * Colors
 */
/**
 * Deprecated colors.
 * Please avoid using these.
 */
/**
 * Fonts & basic variables.
 */
/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */
/**
 * Dimensions.
 */
/**
 * Shadows.
 */
/**
 * Editor widths.
 */
/**
 * Block UI.
 */
/**
 * Border radii.
 */
/**
 * Block paddings.
 */
.wp-block-navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0; }
  .wp-block-navigation-link .wp-block-navigation__container:empty {
    display: none; }

.wp-block-navigation__container {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap; }
  .is-vertical .wp-block-navigation__container {
    display: block; }

.has-child .wp-block-navigation__container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: inherit;
  position: absolute;
  left: 0;
  top: 100%;
  width: fit-content;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.1s linear;
  visibility: hidden; }
  .has-child .wp-block-navigation__container > .wp-block-navigation-link > .wp-block-navigation-link__content {
    flex-grow: 1; }
  .has-child .wp-block-navigation__container > .wp-block-navigation-link > .wp-block-navigation-link__submenu-icon {
    padding-right: 0.5em; }
  @media (min-width: 782px) {
    .has-child .wp-block-navigation__container {
      left: 1.5em; }
      .has-child .wp-block-navigation__container .wp-block-navigation__container {
        left: 100%;
        top: -1px; }
        .has-child .wp-block-navigation__container .wp-block-navigation__container::before {
          content: "";
          position: absolute;
          right: 100%;
          height: 100%;
          display: block;
          width: 0.5em;
          background: transparent; }
      .has-child .wp-block-navigation__container .wp-block-navigation-link__submenu-icon svg {
        transform: rotate(0); } }

.has-child:hover {
  cursor: pointer; }
  .has-child:hover > .wp-block-navigation__container {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column; }

.has-child:focus-within {
  cursor: pointer; }
  .has-child:focus-within > .wp-block-navigation__container {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column; }

.wp-block-navigation-link__content {
  color: inherit;
  text-decoration: none;
  padding: 0.5em 1em; }
  .wp-block-navigation-link__content + .wp-block-navigation-link__content {
    padding-top: 0; }
  .has-text-color .wp-block-navigation-link__content {
    color: inherit; }

.wp-block-navigation-link__label {
  word-break: normal;
  overflow-wrap: break-word; }

.wp-block-navigation-link__submenu-icon {
  height: inherit;
  padding: 0.375em 1em; }
  .wp-block-navigation-link__submenu-icon svg {
    fill: currentColor; }
    @media (min-width: 782px) {
      .wp-block-navigation-link__submenu-icon svg {
        transform: rotate(90deg); } }
