.gridd-tp-breadcrumbs {
	background-color: var(--gridd-breadcrumbs-bg, #fff);

	li,
	li a,
	li a:visited,
	li a:hover,
	li a:focus {
		color: var(--gridd-breadcrumbs-color, #000);
	}

	.inner {
		padding: var(--gridd-breadcrumbs-padding, 1em);
		width: 100%;
		max-width: var(--gridd-breadcrumbs-max-width, 100%);
		display: flex;
		align-items: center;
	}
}

nav.breadcrumbs {
	z-index: 2;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-type: none;
		text-align: var(--gridd-breadcrumbs-text-align, center);
	}

	li {
		display: inline-flex;
	}

	.breadcrumbs__crumb {
		+ .breadcrumbs__crumb {
			&:before {
				content: '\203A';
				opacity: 0.5;
				padding: 0 .75em;
			}
		}

		&:last-child {
			opacity: .7;
		}
	}
}
