// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
$element:           ".gridd-tp-nav_ID" !default;
$backgroundColor:   var(--gridd-nav-ID-bg, #fff) !default;
$fontSize:          var(--gridd-nav-ID-font-size, 1rem) !default;
$padding:           var(--gridd-nav-ID-padding, 1em) !default;
$justify:           var(--gridd-nav-ID-justify, center) !default;
$submenuBackground: var(--gridd-nav-ID-submenu-bg, #fff) !default;
$accentColor:       var(--gridd-nav-ID-accent, #0f5e97) !default;
$itemsColor:        var(--gridd-nav-ID-color, #000) !default;
