// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
$element:           ".gridd-tp-nav_ID" !default;
$backgroundColor:   var(--bg, #fff) !default;
$fontSize:          var(--fs, 1em) !default;
$padding:           var(--pd, 1em) !default;
$justify:           var(--j, center) !default;
$submenuBackground: var(--bg, #fff) !default;
$accentColor:       var(--acl, #0f5e97) !default;
$itemsColor:        var(--cl, #000) !default;
