.gridd-tp-nav_ID .inner {
  align-items: flex-start; }
.gridd-tp-nav_ID ul.menu {
  background-color: var(--gridd-nav-ID-submenu-bg, #fff); }
  .gridd-tp-nav_ID ul.menu > li > ul {
    font-size: calc(1em / var(--gridd-typo-scale, 1.26)); }
