@import "variables";

nav {
	width: 100%;
}

.gridd-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;

	// Submenu - level 1.
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		flex-wrap: wrap;
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 15em;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
		z-index: 5;
		display: none;

		// Submenu - Level 2 and above.
		ul {
			position: relative;
			box-shadow: none;

			&::before,
			&::after {
				content: "";
				display: block;
				border-bottom: 1px solid currentColor;
				opacity: 0.075;
			}

			&::after {
				opacity: 0.1;
			}
		}
	}

	// <li> items.
	li {
		display: flex;
		flex-wrap: wrap;
		position: relative;

		li {
			width: 100%;
		}
	}

	li:hover .gridd-toggle,
	.gridd-toggle[aria-expanded="true"] {
		color: var(--acl);

		svg,
		path {
			fill: var(--acl);
		}
	}

	// Links.
	a {
		padding: 0.618em 1em;
		display: flex;
		align-items: center;
		text-decoration: none;
		width: 100%;
		min-width: max-content;
		min-height: 3em;
	}

	a,
	a:hover,
	a:focus,
	a:active,
	.gridd-toggle {
		outline: none;
	}

	.menu-item-has-children,
	.page_item_has_children {

		> a {
			width: calc(100% - 2em - 0.1px); // The .1px here is to fix browser rendering issue.
		}
	}

	// Button toggles.
	.gridd-toggle {
		display: flex;
		align-items: center;
		background: none;
		opacity: 0.7;
		border: none;
		box-shadow: none;
		border-radius: 0;
		padding: 0 0.5em;
		height: 3em;

		svg {
			width: 1em;
			height: 1em;
		}

		&:hover,
		&:focus,
		&:active,
		&.toggled-on {
			opacity: 1;
			// box-shadow: 0 1px;
		}

		&.toggled-on {
			opacity: 1;


			svg {
				transform: rotate(180deg);
			}

			// Show submenus when toggled-on.
			+ ul {
				display: block;
				width: 100%;
			}
		}
	}
}

@import "styles-global-vertical";
