@import "variables";
#{$element} {
	background-color: $backgroundColor;
	overflow: visible;
	font-size: $fontSize;

	.inner {
		padding: $padding;
		width: 100%;
		position: relative;
		display: flex;
	}

	nav {
		width: 100%;
	}

	.gridd-nav-horizontal {
		display: flex;
		align-items: center;

		>* {
			width: 100%;
		}
	}

	.gridd-navigation {
		justify-content: $justify;

		ul {
			background-color: $submenuBackground;
		}


		li {

			&.current-menu-item,
			&.current-page-item,
			&.current_page_item,
			&.current-page-ancestor,
			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current-page-parent,
			&.current_page_parent,
			&.current_page_ancestor {

				>a,
				>a:visited {
					color: $accentColor;
					background: $accentBackground;
				}

				.gridd-toggle {
					color: $accentColor;
					background: $accentBackground;

					svg {
						fill: $accentColor;
					}
				}
			}

			&.menu-item-has-children,
			&.page_item_has_children {
				>a {
					padding-right: .5rem;
				}
			}
		}

		a,
		a:visited {
			padding: 0.618em 1rem;
			color: $itemsColor;

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: $accentColor;
				background: $accentBackground;

				~.gridd-toggle {
					background: $accentBackground;

					svg {
						fill: $accentColor;
					}
				}
			}
		}

		.gridd-toggle {
			color: $itemsColor;
			padding: 0 .5rem;

			svg {
				fill: $itemsColor;
			}

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: $accentColor;
				background: $accentBackground;

				svg {
					fill: $accentColor;
				}
			}

			&.toggled-on {
				background: $accentBackground;

				svg {
					fill: $accentColor;
				}

				+ul {
					li {

						&.menu-item-has-children,
						&.page_item_has_children {
							>a {
								// width: calc(100% - 2em - 0.01px);
							}
						}
					}
				}
			}
		}
	}

	.gridd-toggle-navigation {
		display: none;
	}
}
