@import "variables";

#{$element} {

	.inner {
		align-items: flex-start;
	}

	ul {
		&.menu {
			background-color: $submenuBackground;

			>li {
				>ul {
					font-size: calc(1em / var(--gridd-typo-scale, 1.26));
				}
			}
		}
	}
}
