@import "variables";

nav {
	width: 100%;
}

.gridd-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;

	// Submenu - level 1.
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		flex-wrap: wrap;
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 15em;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16);
		z-index: 5;
		display: none;

		// Submenu - Level 2 and above.
		ul {
			position: relative;
			box-shadow: none;

			&:before,
			&:after {
				content: "";
				display: block;
				border-bottom: 1px solid currentColor;
				opacity: .075;
			}

			&:after {
				opacity: .1;
			}
		}
	}

	// <li> items.
	li {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	// Links.
	a,
	a:visited {
		padding: 0.618em 1rem;
		display: inline-block;
		text-decoration: none;
		width: 100%;
		height: 3em;
	}

	.menu-item-has-children,
	.page_item_has_children {
		>a {
			width: calc(100% - 2rem);
		}
	}

	// Button toggles.
	.gridd-toggle {
		display: flex;
		align-items: center;
		background: none;
		opacity: .7;
		border: none;
		box-shadow: none;
		border-radius: 0;
		padding: 0 .5rem;
		height: 3em;

		svg {
			width: 1rem;
			height: 1rem;
		}

		&:hover,
		&:focus,
		&.focus,
		&.toggled-on {
			opacity: 1;
			box-shadow: none;
			outline: 1px dotted;
		}

		&.toggled-on {
			opacity: 1;

			svg {
				transform: rotate(180deg);
			}

			// Show submenus when toggled-on.
			+ul {
				display: block;
			}
		}
	}
}

@import "styles-global-vertical";
