@import "variables";

#{$element} {

	.inner {
		align-items: flex-start;
	}

	ul {
		&.menu {
			background-color: $submenuBackground;

			>li {
				>ul {
					font-size: calc(1em / var(--ts));

					a {
						// padding-left: calc(var(--ipd) * var(--ts));
						// padding-right: calc(var(--ipd) * var(--ts));
					}
				}
			}
		}
	}
}
