// We use the "ID" (all caps) as a placeholder.
// The ID will be replaced by the actual navigation-ID via PHP
// when the style is included inline in the document.
.gridd-tp-nav_ID {

	nav,
	.gridd-nav-horizontal {
		display: none;
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		background-color: var(--bg, #fff);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16);
		width: 15em;
		max-width: 350px;
		z-index: 9; // IE11
	}

	.gridd-toggle-navigation {
		display: flex;
		padding: 1em;
		border: 2px solid transparent;
		height: 1em;
		line-height: 1;
		box-sizing: content-box;
		border-radius: 0;
		background-color: transparent;
		// color: currentColor;

		svg {
			width: 1em;
			fill: currentColor;
		}

		&.gridd-nav-toggle-boxed {
			background-color: var(--bg, #fff);
			color: var(--cl, #000);
			border-color: currentColor;

			svg {
				fill: var(--cl, #000);
			}
		}

		.icon {
			line-height: 1;

			svg {
				transition: all 200ms;
				transform-origin: center center;
			}

			&.close {
				position: absolute;
				transform: translateX(-1em);

				svg {
					opacity: 0;
				}
			}
		}

		&:hover,
		&:focus,
		&.focus,
		&.toggled-on {
			background: none;
			box-shadow: none;
			// color: currentColor;

			svg {
				fill: currentColor;
			}
		}

		&:not(.gridd-nav-toggle-boxed) {

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				// outline: 1px dotted;
				border-bottom-color: transparent;
			}
		}

		&.gridd-nav-toggle-boxed {

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: var(--acl, #0f5e97);

				svg {
					fill: var(--acl, #0f5e97);
				}
			}
		}

		&.toggled-on {
			~nav {
				display: block;

				.gridd-sticky & {
					// max-height: 60vh;
					// overflow-y: auto;
				}
			}

			.icon {
				svg {
					transform: rotate(360deg);
				}

				&.open {
					svg {
						opacity: 0;
					}
				}

				&.close {
					svg {
						opacity: 1;
					}
				}
			}
		}
	}

	&.gridd-menu-collapse-position {

		&-top-left,
		&-top-center,
		&-top-right {
			.inner {
				align-items: flex-start;
			}
		}

		&-center-left,
		&-center-center,
		&-center-right {
			.inner {
				align-items: center;
			}
		}

		&-bottom-left,
		&-bottom-center,
		&-bottom-right {
			.inner {
				align-items: flex-end;
			}
		}

		&-top-left,
		&-center-left,
		&-bottom-left {
			.inner {
				justify-content: flex-start;
			}
		}

		&-top-center,
		&-center-center,
		&-bottom-center {
			.inner {
				justify-content: center;
			}
		}

		&-top-right,
		&-center-right,
		&-bottom-right {
			.inner {
				justify-content: flex-end;
			}

			nav {
				right: 0; // IE11
				// transform: translateX(calc(-100% + 1em + 2 * 1em));
			}
		}
	}
}
