@import "variables";
#{$element} {
	// Wrapper styles.
	background-color: $backgroundColor;
	overflow: visible;
	font-size: $fontSize;

	.inner {
		padding: $padding;
		width: 100%;
		position: relative;
		display: flex;
	}

	.gridd-navigation {
		justify-content: $justify;

		ul {
			background-color: $submenuBackground;
		}


		li {

			&.current-menu-item,
			&.current-page-item,
			&.current_page_item,
			&.current-page-ancestor,
			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current-page-parent,
			&.current_page_parent,
			&.current_page_ancestor {

				>a,
				>a:visited {
					color: $accentColor;
					background: $accentBackground;
				}

				.gridd-toggle {
					color: $accentColor;
					background: $accentBackground;

					svg {
						fill: $accentColor;
					}
				}
			}
		}

		a,
		a:visited {
			color: $itemsColor;

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: $accentColor;
				background: $accentBackground;

				~.gridd-toggle {
					background: $accentBackground;

					svg {
						fill: $accentColor;
					}
				}
			}
		}

		.gridd-toggle {
			color: $itemsColor;

			svg {
				fill: $itemsColor;
			}

			&:hover,
			&:focus,
			&.focus,
			&.toggled-on {
				color: $accentColor;
				background: $accentBackground;

				svg {
					fill: $accentColor;
				}
			}

			&.toggled-on {
				background: $accentBackground;

				svg {
					fill: $accentColor;
				}
			}
		}
	}

	.gridd-toggle-navigation {
		display: none;
	}
}
