@import "variables";
#{$element} {
	// Wrapper styles.
	background-color: $backgroundColor;
	overflow: visible;
	font-size: $fontSize;

	.inner {
		padding: $padding;
		width: 100%;
		position: relative;
		display: flex;
	}

	.gridd-navigation {
		justify-content: $justify;

		ul {
			background-color: $submenuBackground;
		}
	}

	li {

		&.current-menu-item,
		&.current-page-item,
		&.current_page_item,
		&.current-page-ancestor,
		&.current-menu-ancestor,
		&.current-menu-parent,
		&.current-page-parent,
		&.current_page_parent,
		&.current_page_ancestor {

			>a,
			>a:visited {
				color: $accentColor;
				border-bottom: 2px solid;
			}

			.gridd-toggle {
				color: $accentColor;

				svg {
					fill: $accentColor;
				}
			}
		}
	}

	a,
	a:visited {
		color: $itemsColor;
		border-bottom: 2px solid transparent;

		&:hover,
		&:focus,
		&.focus,
		&.toggled-on {
			color: $accentColor;
			border-bottom-color: $accentColor;

			~.gridd-toggle {
				border-bottom-color: $accentColor;
				color: $accentColor;

				svg {
					fill: $accentColor;
				}
			}
		}
	}

	.gridd-toggle {
		color: $itemsColor;
		border-bottom: 2px solid transparent;

		svg {
			fill: $itemsColor;
		}

		&:hover,
		&:focus,
		&.focus,
		&.toggled-on {
			color: $accentColor;
			border-bottom-color: $accentColor;

			svg {
				fill: $accentColor;
			}
		}

		&.toggled-on {
			border-bottom-color: $accentColor;

			svg {
				fill: $accentColor;
			}
		}
	}

	.gridd-toggle-navigation {
		display: none;
	}
}
