.wp-block-button__link:active,
.wp-block-button__link:focus {
	text-decoration: none !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	display: inline-block !important;
	margin: 0 !important;
	text-align: center !important;
	overflow-wrap: break-word !important;
}
