.wp-block-calendar th,
.wp-block-calendar tbody td {
	padding: 0.25em;
	border: 1px solid;
}

.wp-block-calendar table {
	font-family: inherit;
}

.wp-block-calendar table th {
	font-weight: inherit;
	background: none;
}

.wp-block-calendar tfoot a {
	color: var(--lc);
}

.wp-block-calendar table tbody,
.wp-block-calendar table caption {
	color: currentColor;
}
