.wp-block-columns {
	display: block;
	margin-bottom: 1.5em;
	grid-gap: 1em 1.5em;
	align-items: stretch;
}

.wp-column {
	width: 100%;
}

.wp-block-columns.has-background {
	padding: 1em 2em;
}

.wp-block-column {
	word-break: break-word;
	overflow-wrap: break-word;
}

.wp-block-columns.are-vertically-aligned-top {
	align-items: start;
}

.wp-block-columns.are-vertically-aligned-center {
	align-items: center;
}

.wp-block-columns.are-vertically-aligned-bottom {
	align-items: end;
}

/**
 * Individual Column Alignment
 */
.wp-block-column.is-vertically-aligned-top {
	align-self: start;
}

.wp-block-column.is-vertically-aligned-center {
	align-self: center;
}

.wp-block-column.is-vertically-aligned-bottom {
	align-self: end;
}

.wp-block-columns.alignfull {
	padding-left: 1em;
	padding-right: 1em;
}

.site-main .entry-content > .wp-block-columns:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	max-width: calc(var(--mw-c, 700px) + 2em);
}

@media (min-width: 782px) {

	.wp-block-columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
	}
}
