.wp-block-cover-image.has-background-dim:not(.has-background-gradient)::before,
.wp-block-cover.has-background-dim:not(.has-background-gradient)::before,
.wp-block-cover-image.has-background-dim .wp-block-cover__gradient-background,
.wp-block-cover.has-background-dim .wp-block-cover__gradient-background {
	opacity: var(--dimRatio, 0.5);
}

.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
	max-width: calc(var(--mw-c, 700px) / 2);
}

.wp-block-cover-image p:not(.has-text-color),
.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image .wp-block-subhead:not(.has-text-color),
.wp-block-cover p:not(.has-text-color),
.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover .wp-block-subhead:not(.has-text-color) {
	color: inherit;
}

.wp-block-cover-image h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text {
	max-width: var(--mw-c, 700px);
	padding: 1em;
}

.wp-block-cover-image .wp-block-cover__inner-container > *,
.wp-block-cover .wp-block-cover__inner-container > * {
	margin: auto;
}
