.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
	margin: 0 0 1em;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
	font-size: var(--fs-2x-ts-tr);
}

.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
	font-size: var(--fs-1x-ts-tr);
}

.wp-block-quote {
	border-left: 4px solid currentColor;
	margin: 0 0 2em 0;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation {
	color: currentColor;
	font-size: var(--fs-tr);
	margin-top: 1em;
}

.wp-block-quote.has-text-align-right {
	border-right: 4px solid currentColor;
}
