.wp-social-link {
	width: 2.25em;
	height: 2.25em;
	border-radius: 2.25em;
	margin-right: 0.5em;
}

.wp-social-link a {
	padding: 0.375em;
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
	background-color: var(--bg);
	color: var(--cl);
}

.wp-block-social-links.is-style-logos-only .wp-social-link {
	background: none;
	padding: 0.25em;
}

.wp-block-social-links.is-style-logos-only .wp-social-link svg {
	width: 1.75em;
	height: 1.75em;
}

.wp-block-social-links.is-style-pill-shape .wp-social-link a {
	padding-left: 1em;
	padding-right: 1em;
}
