a.custom-logo-link,
a.custom-logo-link:hover,
a.custom-logo-link:focus,
a.custom-logo-link:active {
	border-bottom: none;
}

.gridd-tp-header_branding.gridd-tp {
	display: flex;
	width: 100%;
	padding: 0.5em 1em;
	justify-content: var(--ha, left);
	align-items: var(--va, center);
}

.gridd-tp-header_branding.gridd-tp a {
	border-bottom-width: 0;
}

.gridd-tp-header_branding.gridd-tp .site-title a {
	text-decoration: none;
	color: var(--header-textcolor, #000);
}

.gridd-tp-header_branding.gridd-tp a:hover {
	outline: none;
	border-bottom-width: 0;
	box-shadow: none;
}

.gridd-tp-header_branding.gridd-tp a:focus {
	background: transparent;
	outline: none;
	border-bottom-width: 0;
	box-shadow: none;
}

.gridd-tp-header_branding.gridd-tp .site-description,
.gridd-tp-header_branding.gridd-tp .site-title,
.gridd-tp-header_branding.gridd-tp .site-title a,
.gridd-tp-header_branding.gridd-tp .site-title a:visited,
.gridd-tp-header_branding.gridd-tp .site-title a:hover,
.gridd-tp-header_branding.gridd-tp .site-title a:visited:hover {
  color: var(--header-textcolor, #000);
  white-space: nowrap;
}

.gridd-tp-header_branding.gridd-tp .site-title,
.gridd-tp-header_branding.gridd-tp .site-description {
	margin: 0;
}

.gridd-tp-header_branding.gridd-tp .site-title {
	line-height: 1;
	font-size: calc(var(--sts, 2) * 1em);
}

.gridd-tp-header_branding.gridd-tp.inline .site-description {
  transform: translateX(calc(var(--epd) * 1em));
}

.gridd-tp-header_branding.gridd-tp.vertical {
	flex-wrap: wrap;
}

.gridd-tp-header_branding.gridd-tp.vertical > * {
	display: flex;
	width: 100%;
	justify-content: var(--ha, left);
}

.gridd-tp-header_branding.gridd-tp.vertical .site-description {
  transform: translateY(calc(var(--epd) * 1em));
}

.gridd-tp-header_branding.gridd-tp .site-description {
	font-size: calc(var(--tls, 1) * 1em);
}

.gridd-tp-header_branding.gridd-tp .custom-logo-link {
	max-width: calc(var(--mw, 100) * 1px);
	line-height: 0;
	max-height: 100%;
	display: block;
}

.gridd-tp-header_branding.gridd-tp .custom-logo-link img {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}
