.gridd-tp-header_contact_info.gridd-tp {
	font-size: calc(var(--fsr, 0.85) * 1em);
	justify-content: var(--ta, flex-start);
	width: 100%;
	max-width: 100%;
	align-items: center;
	padding: var(--pd, 10px);
	color: var(--cl, #000);
}

.gridd-tp-header_contact_info.gridd-tp a {
	color: var(--cl, #000);
}
