.gridd-tp-footer_copyright {
	width: 100%;
	align-items: center;
	padding: var(--pd, 1em);
  color: var(--cl, #000);
}

.gridd-tp-footer_copyright.custom-option {
	font-size: calc(var(--fs) * 1em);
	background-color: var(--bg, #fff);
}

.gridd-tp-footer_copyright .site-info {
	width: 100%;
	text-align: var(--ta, center);
}

.gridd-tp-footer_copyright .site-info a,
.gridd-tp-footer_copyright .site-info a:hover {
	color: var(--cl, #0f5e97);
}
