.site-main {
  padding: var(--gridd-content-padding-top) var(--gridd-content-padding-right) var(--gridd-content-padding-bottom) var(--gridd-content-padding-left); }
  .site-main header,
  .site-main footer,
  .site-main .gridd-contain {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--gridd-content-max-width-calculated); }
  .site-main > * {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--gridd-content-max-width-calculated); }
  .site-main > article {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    max-width: 100%;
    width: 100%; }
  .site-main .entry-header .alignwide,
  .site-main .entry-header .alignfull,
  .site-main .entry-footer .alignwide,
  .site-main .entry-footer .alignfull,
  .site-main .gridd-contain .alignwide,
  .site-main .gridd-contain .alignfull,
  .site-main .entry-content .alignwide,
  .site-main .entry-content .alignfull {
    max-width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
    margin-left: auto;
    margin-right: auto; }
    .site-main .entry-header .alignwide img,
    .site-main .entry-header .alignfull img,
    .site-main .entry-footer .alignwide img,
    .site-main .entry-footer .alignfull img,
    .site-main .gridd-contain .alignwide img,
    .site-main .gridd-contain .alignfull img,
    .site-main .entry-content .alignwide img,
    .site-main .entry-content .alignfull img {
      width: 100%; }
  .site-main .entry-header .alignwide,
  .site-main .entry-footer .alignwide,
  .site-main .gridd-contain .alignwide,
  .site-main .entry-content .alignwide {
    width: calc(var(--gridd-content-max-width-calculated) + 25% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right));
    max-width: 100%; }
  .site-main .entry-header .alignfull,
  .site-main .entry-footer .alignfull,
  .site-main .gridd-contain .alignfull,
  .site-main .entry-content .alignfull {
    width: calc(100% + var(--gridd-content-padding-left) + var(--gridd-content-padding-right)); }

.gridd-tp-content {
  background-color: var(--gridd-content-bg); }
