.gridd-nav-handheld-btn[aria-expanded="true"]+#gridd-handheld-menu-wrapper {
	display: flex;
	align-content: flex-start;
}

$element: "#gridd-handheld-menu-wrapper";
$backgroundColor: var(--c-bg, #fff);
$fontSize: 1em;
$padding: 1em;
$justify: center;
$submenuBackground: var(--c-bg, #fff);
$accentColor: var(--lc, #0f5e97);
$itemsColor: var(--tc, #000);

@import "../navigation/styles.scss";

#nav-handheld {
	max-height: calc(100vh - 66px);
	overflow-y: scroll;
	width: 100%;
}

#gridd-handheld-menu-wrapper {
	overflow-y: scroll;
}
