.gridd-nav-handheld-btn[aria-expanded="true"]+#gridd-handheld-menu-wrapper {
	display: flex;
	align-content: flex-start;
}

$element: "#gridd-handheld-menu-wrapper";
$backgroundColor: var(--gridd-content-bg);
$fontSize: 1em;
$padding: 1em;
$justify: center;
$submenuBackground: var(--gridd-content-bg);
$accentColor: var(--gridd-links-color);
$accentBackground: var(--gridd-content-bg);
$itemsColor: var(--gridd-text-color);

@import "../navigation/styles.scss";

#nav-handheld {
	max-height: calc(100vh - 66px);
	overflow-y: scroll;
	width: 100%;
}
