// @import "block-library/colors";
// @import "block-library/variables";
// @import "block-library/animations";
// @import "block-library/breakpoints";
// @import "block-library/mixins";
// @import "block-library/z-index";
// @import "block-library/mixins";
@import "../mixins";

// @import "block-library/button/style.scss";

@import "../variables";

// Alignments.
.wp-block-button {

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

// Generic styles.
.wp-block-button__link {

	@include button();

	&:not(.has-background) {
		--element-background-color: var(--cl);
	}

	&:not(.has-text-color) {
		--element-color: var(--bg);
	}
}

.is-style-outline {

	.wp-block-button__link {
		background-color: transparent;
		border-color: currentColor;

		&:not(.has-text-color) {
			--element-color: var(--cl);
		}

		&:not(.has-background) {
			--element-background-color: var(--bg);
		}

		&:hover,
		&:focus,
		&:active {
			background: var(--element-color);
			color: var(--element-background-color);
			border-color: var(--element-color);
		}
	}
}
