// @import "block-library/colors";
// @import "block-library/variables";
// @import "block-library/animations";
// @import "block-library/breakpoints";
// @import "block-library/mixins";
// @import "block-library/z-index";
// @import "block-library/mixins";
@import "../mixins";

// @import "block-library/button/style.scss";

@import "../variables";

// Alignments.
.wp-block-button {
	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

// Generic styles.
.wp-block-button__link,
.wp-block-button__link:visited {
	@include button();

	&:not(.has-text-color) {
		color: var(--bg);
	}
}

.is-style-outline {

	.wp-block-button__link,
	.wp-block-button__link:visited {
		background-color: transparent;
		border-color: currentColor;

		&:not(.has-text-color) {
			color: currentColor;
		}

		&:hover {
			box-shadow: 0 0 0 1px var(--bg), 0 0 0 3px currentColor;
		}

		&:focus,
		&:active {
			box-shadow: 0 0 0 1px var(--bg), 0 0 2px 3px currentColor;
		}
	}
}

.wp-block-button:not(.is-style-outline) {

	.wp-block-button__link,
	.wp-block-button__link:visited {
		&:not(.has-background) {
			border-color: var(--cl);
			background: var(--cl);
		}

		// &:focus,
		// &:active {
		// 	background: var(--bg);
		// 	color: var(--cl);
		// 	box-shadow: none;
		// }
	}
}
