/**
 * Colors
 */
/**
 * Often re-used variables
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
.wp-block-columns {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 782px) {
    .wp-block-columns {
      flex-wrap: nowrap; } }

.wp-block-column {
  margin-bottom: 1em;
  flex-grow: 1;
  flex-basis: 100%;
  min-width: 0;
  word-break: break-word;
  word-wrap: break-word; }
  @media (min-width: 600px) {
    .wp-block-column {
      flex-basis: calc(50% - 16px);
      flex-grow: 0; }
      .wp-block-column:nth-child(even) {
        margin-left: 32px; } }
  @media (min-width: 782px) {
    .wp-block-column:not(:first-child) {
      margin-left: 32px; } }

/**
 * All Columns Alignment
 */
.wp-block-columns.are-vertically-aligned-top {
  align-items: flex-start; }
.wp-block-columns.are-vertically-aligned-center {
  align-items: center; }
.wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end; }

/**
 * Individual Column Alignment
 */
.wp-block-column.is-vertically-aligned-top {
  align-self: flex-start; }
.wp-block-column.is-vertically-aligned-center {
  align-self: center; }
.wp-block-column.is-vertically-aligned-bottom {
  align-self: flex-end; }

.wp-block-columns.alignfull {
  padding-left: var(--gridd-content-padding-left);
  padding-right: var(--gridd-content-padding-right); }
.wp-block-columns .wp-block-column {
  margin: 0;
  padding: 1em; }
.site-main .entry-content > .wp-block-columns:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  max-width: calc(var(--gridd-content-max-width-calculated) + 2em); }
.wp-block-columns .full-height {
  height: 100%; }
