@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/columns/style.scss";

.wp-block-columns {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(6.5em, 1fr));

	&.alignfull {
		padding-left: var(--pd-h, 1rem);
		padding-right: var(--pd-h, 1rem);
	}

	// .wp-block-column {
	// 	margin: 0;
	// 	padding: 1em;
	// }

	&:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {

		.site-main .entry-content > & {
			max-width: calc(var(--mw-c, 700px) + 2em);
		}
	}

	// &.has-2-columns {
	// 	grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
	// }
	// &.has-3-columns {
	// 	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	// }

	border-left: -1rem;
	border-right: -1rem;

	> .wp-block-column {
		// border-left: 1rem solid transparent;
		// border-right: 1rem solid transparent;
	}
}
