@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/mixins";

@import "block-library/cover/style.scss";

.wp-block-cover-image,
.wp-block-cover {

	h2,
	.wp-block-cover-image-text,
	.wp-block-cover-text {
		max-width: var(--gridd-content-max-width-calculated);
		padding: 1em;
	}

	&.alignleft,
	&.alignright {
		max-width: calc(var(--gridd-content-max-width-calculated) / 2);
	}
}

.wp-block-column {
	.wp-block-cover {
		&.has-background-dim {
			display: flex;
		}
	}
}