@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/cover/style.scss";

.wp-block-cover-image,
.wp-block-cover {

	h2,
	.wp-block-cover-image-text,
	.wp-block-cover-text {
		max-width: var(--mw-c, 700px);
		padding: 1em;
	}

	.wp-block-cover__inner-container > * {
		margin: auto;
	}

	&.alignleft,
	&.alignright {
		max-width: calc(var(--mw-c, 700px) / 2);
	}
}
