@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/mixins";

@import "block-library/group/theme.scss";

.wp-block-group {
    >* {
        margin-left: auto;
        margin-right: auto;
    }

    .wp-block-columns:not(.alignfull):not(.alignwide) {
        max-width: calc(var(--gridd-content-max-width-calculated, 700px) + 2em);
    }
}

.wp-block-group__inner-container {
    >* {
        margin-left: auto;
        margin-right: auto;
    }
}
