/**
 * Colors
 */
/**
 * Often re-used variables
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
.wp-block-image {
  max-width: 100%;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0; }
  .wp-block-image img {
    max-width: 100%; }
  .wp-block-image.aligncenter {
    text-align: center; }
  .wp-block-image.alignfull img, .wp-block-image.alignwide img {
    width: 100%; }
  .wp-block-image .alignleft,
  .wp-block-image .alignright,
  .wp-block-image .aligncenter, .wp-block-image.is-resized {
    display: table;
    margin-left: 0;
    margin-right: 0; }
    .wp-block-image .alignleft > figcaption,
    .wp-block-image .alignright > figcaption,
    .wp-block-image .aligncenter > figcaption, .wp-block-image.is-resized > figcaption {
      display: table-caption;
      caption-side: bottom; }
  .wp-block-image .alignleft {
    /*rtl:ignore*/
    float: left;
    /*rtl:ignore*/
    margin-right: 1em; }
  .wp-block-image .alignright {
    /*rtl:ignore*/
    float: right;
    /*rtl:ignore*/
    margin-left: 1em; }
  .wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto; }
  .wp-block-image figcaption {
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #555d66;
    text-align: center;
    font-size: 13px; }
