/**
 * Colors
 */
/**
 * Often re-used variables
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
.wp-block-latest-comments__comment {
  font-size: 15px;
  line-height: 1.1;
  list-style: none;
  margin-bottom: 1em; }
  .has-avatars .wp-block-latest-comments__comment {
    min-height: 36px;
    list-style: none; }
    .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
    .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
      margin-left: 52px; }
  .has-dates .wp-block-latest-comments__comment, .has-excerpts .wp-block-latest-comments__comment {
    line-height: 1.5; }

.wp-block-latest-comments__comment-excerpt p {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0 20px; }

.wp-block-latest-comments__comment-date {
  color: #8f98a1;
  display: block;
  font-size: 12px; }

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
  border-radius: 24px;
  display: block;
  float: left;
  height: 40px;
  margin-right: 12px;
  width: 40px; }

.wp-block-latest-comments__comment {
  font-size: calc(1em / var(--gridd-typo-scale)); }
  .has-avatars .wp-block-latest-comments__comment {
    min-height: 2em; }
    .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
    .has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt {
      margin-left: 3em; }

.wp-block-latest-comments__comment-excerpt p {
  font-size: calc(1em / var(--gridd-typo-scale));
  margin: .25em 0 1em; }

.wp-block-latest-comments__comment-date {
  color: currentColor;
  font-size: calc(1em / var(--gridd-typo-scale) / var(--gridd-typo-scale)); }

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
  border-radius: 2em;
  height: 2.5em;
  margin-right: 1em;
  width: 2.5em; }
