@charset "UTF-8";
/**
 * Colors
 */
/**
 * Colors
 */
/**
 * Often re-used variables
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
.wp-block-navigation > ul {
  display: block;
  list-style: none;
  margin: 0;
  max-width: none;
  padding-left: 0;
  position: relative;
}
@media (min-width: 600px) {
  .wp-block-navigation > ul {
    display: flex;
    flex-wrap: wrap;
  }
}
.wp-block-navigation > ul ul {
  padding-left: 0;
}
.wp-block-navigation > ul li {
  position: relative;
  z-index: 1;
}
.wp-block-navigation > ul li:hover, .wp-block-navigation > ul li:focus-within {
  cursor: pointer;
  z-index: 99999;
}
.wp-block-navigation > ul li:hover > ul, .wp-block-navigation > ul li:focus-within > ul, .wp-block-navigation > ul li ul:hover, .wp-block-navigation > ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
.wp-block-navigation > ul > li > a {
  padding-left: 0;
}
@media (min-width: 600px) {
  .wp-block-navigation > ul > li > a {
    padding-left: 16px;
  }
}
.wp-block-navigation > ul > li:first-of-type > a {
  padding-left: 0;
}
.wp-block-navigation > ul > li:last-of-type > a {
  padding-right: 0;
}
.wp-block-navigation > ul > li > ul {
  background: #fff;
  -webkit-box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
  -moz-box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
  border-radius: 3px;
  box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
  border: 1px solid #e2e4e7;
  margin: 0;
  position: absolute;
  left: 0;
  top: 80%;
  min-width: max-content;
  opacity: 0;
  transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
  transform: translateY(0.6rem);
  visibility: hidden;
  padding: 5px 0;
}
.wp-block-navigation > ul > li > ul li {
  margin: 2px 8px;
}
.wp-block-navigation > ul > li > ul a {
  text-decoration: none;
}
.wp-block-navigation > ul > li > ul a:hover {
  text-decoration: underline;
}
.wp-block-navigation > ul > li > ul::after, .wp-block-navigation > ul > li > ul::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.wp-block-navigation > ul > li > ul::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.wp-block-navigation > ul > li > ul::before {
  border-color: rgba(226, 228, 231, 0);
  border-bottom-color: #e2e4e7;
  border-width: 11px;
  margin-left: -11px;
}
.wp-block-navigation > ul > li > ul ul {
  width: 100%;
}
.wp-block-navigation .has-background-color + ul {
  background: inherit;
}
.wp-block-navigation a {
  display: block;
  padding: 16px;
}
.wp-block-navigation ul ul {
  list-style: none;
  margin-left: 0;
}
.wp-block-navigation ul ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.wp-block-navigation .has-sub-menu > a::after {
  content: " ▼";
  display: inline-block;
  font-size: 0.6rem;
  height: inherit;
  width: inherit;
}
.wp-block-navigation.items-justified-left > ul {
  justify-content: flex-start;
}
.wp-block-navigation.items-justified-center > ul {
  justify-content: center;
}
.wp-block-navigation.items-justified-right > ul {
  justify-content: flex-end;
}

.is-style-dark > ul > li > ul {
  background: #333;
  border: 1px solid #111;
}
.is-style-dark > ul > li > ul a {
  text-decoration: none;
  color: #fff;
}
.is-style-dark > ul > li > ul a:hover {
  text-decoration: underline;
  color: #eee;
}
.is-style-dark > ul > li > ul::after {
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
}
.is-style-dark > ul > li > ul::before {
  border-color: rgba(17, 17, 17, 0);
  border-bottom-color: #111;
}

.wp-block-navigation ul,
.wp-block-navigation ul li {
  list-style: none;
}

/*# sourceMappingURL=navigation.css.map */
