@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/mixins";

@import "block-library/paragraph/style.scss";

p {
	&.is-small-text {
		font-size: calc(1em / var(--gridd-typo-scale));
	}

	&.is-regular-text {
		font-size: var(--gridd-em, 1em);
	}

	&.is-large-text {
		font-size: calc(var(--gridd-typo-scale) * 1em);
	}

	&.is-larger-text {
		font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em);
	}
}

p.has-background {
	padding: 1.5em 2em;
}
