/**
 * Colors
 */
/**
 * Often re-used variables
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
.wp-block-pullquote {
  padding: 3em 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center; }
  .wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    max-width: 305px; }
    .wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
      font-size: 20px; }
  .wp-block-pullquote p {
    font-size: 28px;
    line-height: 1.6; }
  .wp-block-pullquote cite,
  .wp-block-pullquote footer {
    position: relative; }
  .wp-block-pullquote .has-text-color a {
    color: inherit; }

.wp-block-pullquote:not(.is-style-solid-color) {
  background: none; }

.wp-block-pullquote.is-style-solid-color {
  border: none; }
  .wp-block-pullquote.is-style-solid-color blockquote {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 60%; }
    .wp-block-pullquote.is-style-solid-color blockquote p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 32px; }
    .wp-block-pullquote.is-style-solid-color blockquote cite {
      text-transform: none;
      font-style: normal; }

.wp-block-pullquote cite {
  color: inherit; }

.wp-block-pullquote {
  border-top: 4px solid #555d66;
  border-bottom: 4px solid #555d66;
  color: #40464d; }
  .wp-block-pullquote cite,
  .wp-block-pullquote footer, .wp-block-pullquote__citation {
    color: #40464d;
    text-transform: uppercase;
    font-size: 13px;
    font-style: normal; }

.wp-block-pullquote {
  border-top: 4px solid currentColor;
  border-bottom: 4px solid currentColor; }
  .wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    max-width: calc(var(--gridd-content-max-width-calculated) / 2); }
    .wp-block-pullquote.alignleft p, .wp-block-pullquote.alignright p {
      font-size: calc(var(--gridd-typo-scale) * 1em); }
  .wp-block-pullquote p {
    font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }
  .wp-block-pullquote blockquote {
    border-left: none; }

.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em); }
