@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/mixins";

@import "block-library/pullquote/style.scss";
@import "block-library/pullquote/theme.scss";

.wp-block-pullquote {
	border-top: 4px solid currentColor;
	border-bottom: 4px solid currentColor;
	color: currentColor;

    &.alignleft,
	&.alignright {
		max-width: calc(var(--gridd-content-max-width-calculated, 700px) / 2);

		p {
			font-size: calc(var(--gridd-typo-scale, 1.26) * 1rem);
		}
	}

	p {
		font-size: calc(var(--gridd-typo-scale, 1.26) * var(--gridd-typo-scale, 1.26) * 1rem);
	}

	blockquote {
		border-left: none;
	}

	cite {
		// color: currentColor;
		opacity: .8;
	}
}

.wp-block-pullquote.is-style-solid-color {
	blockquote {
		p {
			font-size: calc(var(--gridd-typo-scale, 1.26) * var(--gridd-typo-scale, 1.26) * 1rem);
		}
	}
}
