@import "block-library/colors";
@import "block-library/variables";
@import "block-library/animations";
@import "block-library/breakpoints";
@import "block-library/mixins";
@import "block-library/z-index";
@import "block-library/mixins";

@import "block-library/quote/style.scss";
@import "block-library/quote/theme.scss";

.wp-block-quote {
	margin: calc(var(--gridd-typo-scale, 1.26) * 1em) 0;

	&.is-style-large,
	&.is-large {
		margin: 0 0 1em;

		p {
			font-size: calc(var(--gridd-typo-scale, 1.26) * var(--gridd-typo-scale, 1.26) * 1rem);
		}

		cite,
		footer {
			font-size: calc(var(--gridd-typo-scale, 1.26) * 1rem);
		}
	}

	cite,
	footer,
	&__citation {
		color: currentColor;
	}
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 4px solid currentColor;
	padding-left: 1em;
}
