.wp-block-quote {
	&.is-style-large,
	&.is-large {
		margin: 0 0 1em;
		padding: 0 1em;

		p {
			font-size: calc(var(--gridd-typo-scale) * var(--gridd-typo-scale) * 1em);
			font-style: italic;
			line-height: 1.6;
		}

		cite,
		footer {
			font-size: calc(var(--gridd-typo-scale) * 1em);
			text-align: right;
		}
	}
}
