.gridd-tp-sidebar {
	flex-direction: var(--fd, column);
	justify-content: flex-start;
	padding: 1em;
}

.gridd-tp-sidebar .widget {
	margin-bottom: var(--mr, 1em);
}

.gridd-tp-sidebar .widget:last-child {
	margin-bottom: 0;
}

.gridd-tp-sidebar h1,
.gridd-tp-sidebar h2,
.gridd-tp-sidebar h3,
.gridd-tp-sidebar h4,
.gridd-tp-sidebar h5,
.gridd-tp-sidebar h6,
.gridd-tp-sidebar .widget-title {
	color: var(--cl, #000);
}

.gridd-tp-sidebar a,
.gridd-tp-sidebar a:hover,
.gridd-tp-sidebar a:visited,
.gridd-tp-sidebar a:focus,
.gridd-tp-sidebar a:visited:hover,
.gridd-tp-sidebar a:visited:focus {
	color: var(--lc, #0f5e97);
}
